[2012-07-03 14:41] ghost opened #22 "Add support for a redis failover proxy"
Redis supports master slave configurations and manual failover. Unfortunately, automated failover is unlikely to be added until the RedisCluster project is live for a while. In the meantime, one great solution is the redis_failover gem -> https://github.com/ryanlecompte/redis_failover - this adds a zookeeper backed redis node manager that can automate the slave failover in the event of a node goin

[2012-07-13 15:53] analytically opened #24 "Add TTL"
http://redis.io/commands/ttl

[2012-07-16 21:35] analytically opened #26 "Duplicate expire implementation"
In `Operations`:

[code]

and in `StringOperations`:

[code]

[2012-07-18 14:48] #24 closed, assigned to nobody

[2012-08-19 03:46] ArvinH opened #30 "can't import RedisClient"
as title, I can't use RedisClient as you did in Readme
it says "not found: type RedisClient", but I did import com.redis

it would be very appreciate if you can help

thanks!

[2012-08-19 12:15] #26 closed, assigned to nobody

[2012-08-19 16:45] #30 closed, assigned to nobody

[2012-08-19 17:58] ArvinH opened #31 "overloaded method value apply"
Hi, I follow the PubSubServer.scala, I divide Subscriber and Publisher to two individual classes,
but in the Sub.scala (object Sub), like below:

...................

object Sub {
      val actorSystem = ActorSystem("PubSubActorSystem")
    println("starting subscription service...")
    var r = new RedisClient("localhost",6379)
    var s = actorSystem.actorOf(Props(new Subscriber(r)))

[2012-08-20 02:58] #31 closed, assigned to nobody

[2012-08-20 07:05] ArvinH opened #32 "Crash in the build compiler"
sorry, me again...

I follow the code in your "akka-redis-pubsub", and everything seems fine, but when I try to run the eclipse project, the IDE told me that I have some error.  here is the message in Markers :

The SBT builder crashed while compiling your project. This is a bug in the Scala compiler or SBT. Check the Erorr Log for details. The error message is: null   pub_sub_scala       Unknown

[2012-08-22 15:44] brettcave opened #33 "RedisCluster always tries to connect to localhost"
When using redisCluster with a list of non-local node, rediscluster will still try and connect locally.

[code]

Running the above code without a localhost:6379 listener will fail:

[code]

Possibly because of [this](https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/RedisClient.scala#LC58)

[code]

[2012-08-24 02:15] #32 closed, assigned to nobody

[2012-09-10 22:53] meglio opened #37 "What dependency to put in my sbt project?"
Please advice.

Thanks.

[2012-09-11 07:37] #37 closed, assigned to nobody

[2012-09-13 00:38] onilton opened #38 "Add support for WITHSCORES in ZRANGEBYSCORE"
ZRANGEBYSCORE key min max [WITHSCORES] [LIMIT offset count]

Both ZRANGEBYSCORE and ZREVRANGEBYSCORE support a argument called WITHSCORES.

http://redis.io/commands/zrangebyscore
and

http://redis.io/commands/zrevrangebyscore

Scala redis  doesn't seem to have that option

[2012-09-13 09:51] #38 closed, assigned to nobody

[2012-09-14 12:29] kelaneren opened #39 "Notification to application when redis server is down"
When redis server is down, PubSub throws RedisConnectionException which crashes Consumer. There is no way for application to handle it, trigger recovery or do something. A graceful handling could be considered there, like listener for application so that application can do something.

[2012-09-19 18:49] #39 closed, assigned to debasishg

[2012-10-07 08:33] ussy opened #42 "Doesn't receive pmessage"
I try to receive some pmessage from redis, but couldn't message.

[code]

results:

[code]

I'm using a redis version 2.4.17.

[2012-10-07 08:43] #42 closed, assigned to nobody

[2012-10-09 08:48] kelaneren opened #44 "Publisher connection timeout causes exception and message losing"
Hi,

I find there is a bug in Redis.send method. Steps to reproduce:
1. create a RedisClient instance which connects to a host.
2. when this connection keeps idle and timeout, redis server closes this connection
3. publish a message from this redis client instance and SocketException is thrown

This issue only occurs on the first message after timeout.

To fix it:

add "case e: SocketException" in

[2012-10-12 16:54] #44 closed, assigned to nobody

[2012-10-17 20:45] mardo opened #46 "Build error"
Hello, i've just cloned the project and did "$ sbt", and the next exception appeared:

Mardos-MacBook-Pro:scala-redis mardo$ sbt
[info] Loading global plugins from /Users/mardo/.sbt/plugins
[info] Updating {file:/Users/mardo/.sbt/plugins/}default-462dc6...
[info] Resolving com.typesafe.startscript#xsbt-start-script-plugin;0.5.2 ...
[warn]  module not found: com.typesafe.startscript#xsbt-start-scri

[2012-10-18 16:37] #46 closed, assigned to nobody

[2012-10-29 13:54] yaghmr opened #47 "Scala 2.10.0-RC1 support"
Any plan to add Scala 2.10.0-RC1 support?

I've tried to use

[code]

but I get

[code]

error at runtime.

[2012-10-30 02:56] zhanggl opened #48 "RedisClientPool not detecting dead RedisClient?"
Hi @debasishg ,

I'm using RedisClientPool to access my redis server which has a config timeout set to 300. And after some period of inactivities, the subsequent requests to redis got hang. But when timeout was set to 0, everything went fine and the problem didn't occur.

I believe that is caused by RedisClientPool not awaring of server closed connections in case of timeouts.

And I'm using redisc

[2012-10-30 07:35] #48 closed, assigned to nobody

[2012-11-06 21:48] sameersingh opened #51 "Support for COUNT in SRANDMEMBER"
Currently scala-redis only returns a single random element of a set. Can you add support for an optional _count_, as described here http://redis.io/commands/srandmember?

[code]

Thanks!

[2012-11-08 16:55] #47 closed, assigned to debasishg

[2012-11-11 15:01] #51 closed, assigned to debasishg

[2012-11-27 15:04] kelaneren opened #53 "Node in HashRing is coupled with host and port"
The issue is if one node is down and I can't find a way to replace the problem node. The solution from https://github.com/youngking/redis-shard is quite good. Only node id/name is coupled with hash ring order. If the master is down, slave can be used to replace master without changing hash ring order.

I guess the quickest fix could be:
1. extends RedisClientPool to let it identifiable
2. replace

[2012-11-30 11:13] kelaneren opened #56 "initial reply byte in RedisCluster"
Hi,

I got a very strange error when I use RedisCluster. It works well generally. When it takes requests from multiple threads, I got

Protocol error: Got (O,[B@1f639d92) as initial reply byte

However, if I change nodes to localhost on different ports, it works well again. Very confusing. Does anyone see this before?

Thanks

[2012-12-05 09:29] #56 closed, assigned to nobody

[2012-12-05 09:29] #53 closed, assigned to nobody

[2013-01-07 12:40] ponythewhite opened #61 "Simple bug in Cluster"
override def rpush(key: Any, value: Any, values: Any_)(implicit format: Format) = processForKey(key)(_.lpush(key, value, values:__))

should be

override def rpush(key: Any, value: Any, values: Any_)(implicit format: Format) = processForKey(key)(_.rpush(key, value, values:__))

[2013-01-07 16:35] #61 closed, assigned to nobody

[2013-01-18 01:18] Nakano37 opened #63 "2.9 depends on akka-actor_2.10.0-RC5-2.1.0-RC5 which conflicts with akka-actor_2.10-2.1.0"
A build of this lib with current akka-actor lib would help me out alot, trying to upgrade from akka1.3.1 on scala 2.9.2 to current akka 2.1.0 on scala 2.10 and this jar conflict is causing problems.

[2013-01-19 14:06] #63 closed, assigned to debasishg

[2013-02-21 06:29] abond opened #65 "Add support of STORE option for SORT command."
Please, add support of STORE option for SORT command.

[2013-02-22 18:19] #65 closed, assigned to nobody

[2013-03-13 13:04] victorisunc opened #67 "Is it possible to use this as the default cache for PlayFramework 2.1?"
Play 2.1 uses Ehcache by default.
It seems that scala-redis acts as a standalone module and doesn't implement Play's default CacheAPI interface. Any idea how it might be done to use it seamlessly with Play?

[2013-04-17 08:54] abond opened #70 "Too many Options in Set operations"
SMEMBERS, SINTER, SUNION and SDIFF returns empty Set even if Set(or Sets) does not exists. So I think they should return Set[Option[A]] instead of Option[Set[Option[A]]].
What is more Set items can not be "null", so I think all this operations should return just Set[A] instead of Option[Set[Option[A]]].

All operations that returns Option[Long] should return Long, because they always return Number

[2013-04-18 11:25] #70 closed, assigned to nobody

[2013-04-23 07:08] abond opened #71 "evalMultiBulk problem"
Hello!
I have lua script that works well in redis-cli, but return error:

, when I try to execute it with evalMultiBulk.

redis-cli:
eval "local ids = redis.call('SORT', 'users', 'ALPHA', 'BY', 'user:*->name'); local result = {}; for index, value in ipairs(ids) do table.insert(result, redis.call('hgetall', 'user:'..value)); end return result;" 0

scala-redis:
r.evalMultiBulk("local ids = redis.cal

[2013-05-01 02:41] dsturnbull opened #72 "OutOfMemory exception at com.redis.IO$class.readLine(IO.scala:97)"
Code that causes it (from time to time) is redis.setex(k: String, timeout: Int, value: Array[Byte]). In IO#readLine(), the 'build' length grows infinitely. I believe setex() is only expecting a boolean to be read off the wire.

My temporary workaround is to return null from readLine() if the builder gets over 100KB.

java.lang.OutOfMemoryError: Java heap space
at scala.collection.mutable.ArrayBuil

[2013-05-01 07:01] #71 closed, assigned to nobody

[2013-05-01 08:26] debasishg opened #73 "New options for SET from Redis 2.6.12"

[2013-05-08 19:19] ctcreel opened #75 "slf4j dependency problem"
I'm using Scala 10 with Java 1.7 and am receiving this error -

"Error in Scala compiler: bad symbolic reference. A signature in Log.class refers to term slf4j in package org which is not available. It may be completely missing from the current classpath, or the version on the classpath might be incompatible with the version used when compiling Log.class.	HelloRedis		Unknown	Scala Problem"

[2013-06-05 20:33] bayarmunkh opened #77 "detect connection lost to server and reconnect"
What is a preferable logic to detect connection lost and reconnect to server?

It seems connected and connect methods aren't working as I expect. Surprisingly, select method works and reconnects to server.

How do I check if connection to server has been lost?

[2013-06-21 01:28] #72 closed, assigned to nobody

[2013-06-25 12:26] superduper opened #78 "Add connection timeout setting"
It would be great to have ability to set connection timeout.

For instance it would be handy for hostname resolution problems(on my host almost 1 minute till java.net.ConnectException thrown). Try yourself:

[code]

[2013-06-28 03:48] yvesx opened #81 "Installing scala-redis by adding it as library dependency."
In my some other project, is it possible to include
import com.redis._
to use this package?

With other libraries, I just add a line to the dependency list in my build.sbt.
For example, installing https://github.com/scalaj/scalaj-http, I just add
"org.scalaj" %% "scalaj-http" % "0.3.7"
to the dependency.

How do I do this for scala-redis?

Thank you very much
yves

[2013-07-01 17:20] yvesx opened #82 "mget design qeustion."
So this happens when i want to use mget to get a list of keys

scala> val k=Seq("a","b","c")
k: Seq[String] = List(a, b, c)

It only works as follows
scala> r.mget(Nil,k:_*)
res11: Option[List[Option[String]]] = Some(List(None, Some(3), Some(2), Some(1)))

I tried mget with just taking the second parameter but the console throws out errors.
My question is why mget need two parameters? (key is a ke

[2013-07-02 15:46] #82 closed, assigned to nobody

[2013-07-05 04:59] zhanggl opened #83 "What happened to the PERSIST command?"
Has it not been implemented yet or intended to not be supported at all?

http://redis.io/commands/persist

[2013-07-05 07:23] #83 closed, assigned to debasishg

[2013-07-05 19:52] #81 closed, assigned to nobody

[2013-07-06 22:57] guersam opened #84 "Suggestion for better error handling"
Hi,

Currently every command result is `Option[T]` even if the command always return some value, so we always need to use `match` or `.get`.

As using new akka IO having `Future`, I suggest using `Promise.failure` when error occurs and giving `Option` only when necessary to keep the API simple.

What are your thoughts?

[2013-08-08 11:15] reddybabu opened #85 "Redis subscribe throwing exception"
Based on your Test example PubSubServerDemo.scala to subscribe to a keyword,  we used it in Spark Streaming.

When we subscribe as sub("UPDATED_KEYWORD"), we are getting the message,

subscribed to UPDATED_KEYWORD and count = 1

but as soon as we publish through redis client, as <publish "UPDATED_KEYWORD" "TRUE"> we get an exception,

Fatal error caused consumer dead. Please init new consumer reco

[2013-08-12 11:45] #85 closed, assigned to nobody

[2013-08-13 05:06] reddybabu opened #86 "akka.pattern.AskTimeoutException: sending to terminated ref breaks promises"
In my SampleTest application, I design the code like after receiving new search pattern from the client the StreamingContext should be stoped (ssc.stop()) and again start with the newly assigned pattern ( ssc.start() ).

   Stoping the StreamingContext (ssc.stop() ) is fine but, while starting the StreamingContext (ssc.start() ) it will through the akka.pattern.AskTimeoutException: sending to term

[2013-08-19 06:23] reddybabu opened #87 "Spark application stopped automatically after running sometime"
I was running my Spark application on LINUX OS. But It was stopped after running some time, and I  again ran the application, now its working fine. Could you any one please let me know the reason why the application stopped.

[2013-08-19 06:55] #87 closed, assigned to nobody

[2013-08-20 00:50] #84 closed, assigned to nobody

[2013-08-22 18:56] damirv opened #88 "Getting "ERR operation not permitted" after a while"
Redis client throws an exception with the message "ERR operation not permitted" (after I successfully have authenticated). This happens only after a while. Is it possible that the connection is reset or something if it is not being used for some time?

[2013-09-04 17:17] mtiller opened #89 "Inconsistency between LLEN and LRANGE"
The code for `llen` returns a `Long`, but the arguments for `lrange` are `Int`.

This means that if you query for the length of a list, it is possible that you will get
a value that cannot, in turn, be passed to `lrange`.  This doesn't seem logical to
me.

If, in fact, Redis indices can be longs, then `lrange` (and probably some others) should take Long as their argument type.  If Redis indices ar

[2013-10-06 12:22] MeerKatDev opened #90 "Jar for Scala 2.10.2"
Hello, can I build the jar file for this library for scala 2.10.2? I tried with "sbt package" but it runs into some issues, namely something like:

[code]

I looked up in the internet and they are saying are problems with the idea editor, but I'm not really using it, I've just cloned the library and made sbt package in the main folder.

Thank You for this library, it's very nice :)

[2013-10-06 16:19] #90 closed, assigned to nobody

[2013-10-06 20:51] sadache opened #91 "NPE from get"
It seems is some cases https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/RedisProtocol.scala#L68 can produce a null, don't know whether it means that there is no such a key, or whether it is a bug.

[2013-10-15 07:25] MeerKatDev opened #92 "passing client with case classes"
Hello, I wonder if is possible to pass instances of RedisClient with case classes, because I get a strange error when I try to use it, something like "wrong parameter" ?

[2013-10-16 03:07] stevef opened #93 "deadLetters warning when working with Subscriber"
Looks like the following class which utilizes Subscriber is causing deadLetters warnings:

https://gist.github.com/stevef/7001569

Seems it's happening because of the return value here - https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/PubSubServer.scala#L22

There an appropriate way of handling the return message in my client to avoid receiving deadLetters?

[2013-10-19 17:50] #93 closed, assigned to nobody

[2013-10-20 20:15] #92 closed, assigned to nobody

[2013-11-21 09:57] GildedHonour opened #94 "java.net.UnknownHostException for a connection string"
I found out that redis client doesn't accept urls like this:

[code]

Even when I do the following:

[code]

It says:

[code]

[2014-01-06 14:37] montaro opened #95 "How Transactions are supported in the client"
Regards to the documentation, Redis has a transactions support http://redis.io/topics/transactions, how can it be used using the driver?

[2014-01-08 05:11] shunjikonishi opened #96 "Subscribed status continues after unsubscribed."
Pubsub trait has flag variables 'pubSub'.
This variable is still true after Consumer thread finished.

I think it should be false at least when unsubscribed all.

[2014-01-10 06:52] pheaver opened #97 "Question about connection pooling and thread safety"
My understanding is that RedisClient is not thread safe (it would be bad to instantiate one instance of RedisClient and use it in multiple akka actors). Can you confirm?

So I would have two choices:
1. Instantiate one RedisClient in each of my actors
2. Use RedisClientPool

The latter is almost definitely desirable because then I don't have to have one open connection for each of my hundreds of a

[2014-01-10 07:15] #97 closed, assigned to nobody

[2014-01-12 20:58] avaranovich opened #98 "AUTH support?"
I think i put it in the wrong place originally,
https://github.com/acrosa/scala-redis/issues/14

If I try
  val redisClient = RedisClient(endpoint)
  redisClient.auth("pwd")

I get an exception

[code]

[2014-01-13 09:58] #95 closed, assigned to nobody

[2014-01-22 18:25] Eduardo-M-Cavalcanti opened #99 "sbt build with redisclient version 2.12"
Hi,
Thanks a lot for redisclient.

I can do a sbt  build with
"net.debasishg" %% "redisclient" % "2.11"
but cannot with
"net.debasishg" %% "redisclient" % "2.12"

Results in
module not found: net.debasishg#redisclient_2.10;2.12

Is it available in a particular repository other than Typesafe(repo.typesafe.com), Sonatype(oss.sanatype.org) or Maven(repo1.maven.org)?

Thanks again.

[2014-02-10 20:53] vadusumilli74 opened #100 "HSET returning Boolean instead of Option[Int]"
Based on http://redis.io/commands/hset, the return value of hset should be Option[Int].

[2014-04-06 20:48] sksamuel opened #103 "Any chance of a 2.11 snapshot build?"
Any chance of a 2.11 rc3 snapshot build?

Tis a dependency for me doing a 2.11 release of one of my projects.

[2014-04-29 07:14] parkx408 opened #106 "implicit parser not working correctly for String?"
I may be mistaken but I have a simple wrapper around the redis client that does this

  def get[A](key: String)(implicit parse: Parse[A]): Option[A] =
    redisPool.withClient(_.get[A](key))

which works fine for byte array but when I try to get a String it seems to do the wrong thing.

[code]

test returns

[info] + put String
[info] x get String
[error]    'Some(TestValR)' is Some but 'TestValR'

[2014-05-03 14:02] #103 closed, assigned to nobody

[2014-05-03 16:13] #106 closed, assigned to nobody

[2014-06-02 05:54] shunjikonishi opened #107 "Scala 2.11 support"
I hope use this library in Play 2.3(with scalaVersion=2.11)

[2014-07-01 01:30] pkallos opened #108 "mget call with (keys: List[String]) instead of (key: Any, keys: Any*)"
Would be nice to be able to pass a List to mget :)

[2014-07-01 11:11] lbsha opened #109 "Protocol error"
19:03:34.068 [stats-system-akka.actor.default-dispatcher-9] ERROR akka.actor.OneForOneStrategy - Protocol error: Got (1,[B@52c7e2d4) as initial reply byte
java.lang.Exception: Protocol error: Got (1,[B@52c7e2d4) as initial reply byte
    at com.redis.Reply$$anonfun$6.applyOrElse(RedisProtocol.scala:94) ~[redisclient_2.10-2.13.jar:2.13]
    at com.redis.Reply$$anonfun$6.applyOrElse(RedisProtocol.sc

[2014-07-01 11:48] lbsha opened #110 "NOAUTH Authentication required"
[2014-07-01 19:40:17] NOAUTH Authentication required. [akka.actor.OneForOneStrategy]
java.lang.Exception: NOAUTH Authentication required.
    at com.redis.Reply$$anonfun$6.applyOrElse(RedisProtocol.scala:93) ~[redisclient_2.10-2.13.jar:2.13]
    at com.redis.Reply$$anonfun$6.applyOrElse(RedisProtocol.scala:92) ~[redisclient_2.10-2.13.jar:2.13]
    at scala.runtime.AbstractPartialFunction.apply(Abs

[2014-07-02 06:30] manish333999 opened #111 "Code sample for connecting to password enabled Redis instances"
Am I missing the documentation on connecting to password enabled Redis instances or is the documentation missing it?

For example the RedisCloud Paas instance on Heroku needs something like
"redis://rediscloud:[password-string here]@pub-redis-[port-number-here].us-east-1-3.4.ec2.garantiadata.com:[port-‌​number-here]" . How does RedisClient object use this format to connect to that instance? I am u

[2014-07-02 07:36] #107 closed, assigned to nobody

[2014-07-02 07:37] #99 closed, assigned to nobody

[2014-07-02 07:37] #98 closed, assigned to nobody

[2014-07-02 07:38] #94 closed, assigned to nobody

[2014-07-15 08:25] companycy opened #112 "Binary data is not supported in pub/sub mode?"
Hi guys,

I wonder if it's not supported yet. Or I just don't find the usage.
I find com.redis.serialization.Parse.Implicits.parseByteArray is useful when set/get.
However, I can't make it work in pub/sub mode.

I just follow PubSubServerDemo.scala, where the difference is msg subscriber receive is array[byte].

Also, I use Jedis before, and it provides BinaryJedisPubSub which can handle this.
I a

[2014-07-16 06:56] shota-kobayashi opened #113 ""CLIENT SETNAME" command is not supported ?"

[2014-07-18 19:01] veeran54 opened #114 "Class not found error while running"
following is my build.scala

name := "testRedis"

version := "1.0"

libraryDependencies += "org.scalatest" % "scalatest_2.10" % "2.1.0" % "test"
libraryDependencies +="net.debasishg" % "redisclient_2.10" % "2.12"

I see class not found exception, for following statement. thanks for your help.
val r = new RedisClient("localhost", 6379)

Exception:
error] (run-main) java.lang.NoClassDefFoundError: s

[2014-08-21 05:17] knavely opened #115 "cluster MOVE redirect"
when running unstable branch redis in cluster mode configured locally with 6 nodes, 3 masters and 3 slaves as described here: http://redis.io/topics/cluster-tutorial

replication steps:
1. as in the example create the redis cluster r with 3 nodes: localhost:7000, localhost:7001, localhost:7002.
2. r.lpush(1,"hi") -- worked
3. r.lpush(4,"hi") should redirect to localhost:7002 where redis returns a

[2014-09-10 11:01] yangliuyu opened #118 "Get pipeline result slow when connect to remote redis server"
Hi,

I got a slow case (> 1 minute) when fetch hash value synchronously from remote redis server. The code looks like below

[code]

If connect to local server, result returns in 1 second. I also tested using python client with same logic, it return in 1 second in both local and remote mode. Seems no problem at the server side.

redis client version is `"net.debasishg" % "redisclient_2.10" % "2.12

[2014-09-14 16:44] kelf opened #120 "Does this library support transactions? I see it in the async codebase, but not here. Thanks!"
Does this library support transactions?  I see it in the async codebase, but not here. Thanks!

[2014-09-23 19:30] poroszd opened #122 "Map behavior is inconsistent"
Currently hmset and hgetall don't seem to match up very well:

    scala> redis.get("xyz")
    res4: Option[String] = None

    scala> redis.hgetall("xyz")
    res5: Option[Map[String,String]] = Some(Map())

    scala> redis.hmset("xyz", Map.empty[String, String])
    java.lang.Exception: ERR wrong number of arguments for 'hmset' command

It might be more intuitive if they would be symmetrical, li

[2014-10-02 17:21] knavely opened #123 "Cluster hsetnx exception"
I do:
  lazy val nodes = Array(ClusterNode("node0", "localhost", 6379),ClusterNode("node1", "localhost", 6380))

  lazy val r = new RedisCluster(new WrappedArray.ofRef(nodes): _*) {
    val keyTag = Some(RegexKeyTag)
  }

then the examples work, but when i try r.hsetnx("newlabel","newhi",100)  throws:

java.lang.RuntimeException: java.net.NoRouteToHostException: Can't assign requested address

[2014-10-18 13:04] tddmonkey opened #125 "Add HyperLogLog Support"
HyperLogLog structures were added in Redis 2.8.9 and it would be nice to have them support.  Pull request to follow

[2014-11-11 22:28] leonfs opened #128 "eval and Type Parsing"
Hi,

I'm experiencing the following issue under release 2.14 and scala 2.10.4:

[code]

The problem occurs when trying to do the following:

[code]

But it works with the following (notice the '1' as string):

[code]

I've checked the unit tests but I haven't seen any test for non string values. And even the following fails (expects String but returning 1):

[code]

Cheers,
Leo.-

[2014-12-08 10:53] knight1128 opened #130 "Support for hincrbyfloat"
Hi.

I hope to use hincrbyfloat (http://redis.io/commands/INCRBYFLOAT), But I could not find that in scala-redis. Could you make it ?

[2014-12-14 15:54] #128 closed, assigned to nobody

[2014-12-14 16:44] #130 closed, assigned to nobody

[2015-01-07 23:22] cameo99 commented on #78
I believe I am having the same issue as @superduper .
If the host is down or unavailable, it will keep trying to connect until I get a java.net.ConnectException: Operation timed out.

Instead of creating a new socket with the host and port inside which I think attempts to connect automatically
https://github.com/debasishg/scala-redis/blob/b7c795098cf745517ce4088eea95358805063c86/src/main/scala/com

[2015-01-12 06:47] debasishg commented on #78
I will have a look at this issue very soon. Too much swamped right now with day job and ancillary issues. Thanks for reporting.

[2015-01-19 06:45] fanhk opened #131 "How to query a bunch of record using this library?"
Hey!
I want to query my key-value pairs in a batch processing way(Which means I want to query a bunch of record).Could you tell me how to use this library to do that?Thank you

[2015-01-19 08:12] fanhk commented on #118
@yangliuyu the value which you get in this way is the type of Some.Could you tell me how to convert it? For a instance, in your code val c is some(String), how to convert it to String?

[2015-01-21 05:49] debasishg commented on #131
Thanks for using scala-redis.
Redis is a data structure server and the APIs differ depending on the data structure you use to store your key-value pairs. E.g. if you use a List to store values, then the list is stored against a key and you can retrieve values from the list using the lrange API defined in ListOperations. As an example have a look at the test case at https://github.com/debasishg/sca

[2015-01-24 17:04] gvolpe commented on #111
Take a look at this line --> https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/RedisClient.scala#L95

You have a secret val for the connection password.

[2015-01-25 18:18] debasishg commented on #118
You can either use the ```Option.get``` to have the String. But better is to use ```Option.map``` and chain the computation as the ```get``` will fail if it's a ```None``` instead.

[2015-03-03 17:40] diptanu opened #132 "Redis Client connects to Redis during creation"
We are trying to use this Redis Client on a service which is on AWS. I am seeing that the client tries to connect to Redis when the object is created and if it can't then it throws a ```java.net.ConnectException``` and the object is never created.

This is not acceptable in cloud because networks are always virtualized in the cloud, and the firewall warmup takes some time after an instance comes u

[2015-03-05 11:20] asheshambasta opened #133 "Get keys by pattern"
Something like redisClient.get("some*pattern") always returns None.

[2015-03-05 11:22] asheshambasta commented on #133
Sorry, my bad.

[2015-03-05 11:22] #133 closed

[2015-03-05 11:22] asheshambasta commented on #133
Use redisClient.keys("some*pattern")

[2015-03-08 16:41] debasishg commented on #132
The client expects a running Redis server in order to instantiate successfully. Isn't it not possible to implement the retry semantics as part of the application code ?

[2015-03-10 19:27] diptanu commented on #132
@debasishg Well I think its nice to have objects initialized properly before accepting traffic from users. We could keep retrying and initialize the redis client when the cache is available and take traffic after that but I think it would be nice if that was not the case. If cache is not available we could just have other mechanism for fetching data, and when it becomes available we can start usin

[2015-03-11 04:20] debasishg commented on #132
Let me think of an API that allows this retry semantics. Do you want the client to wait till the server is available or a configured timeout happens ?

[2015-03-20 16:39] tlcs commented on #109
The same problem here and when I am create a new instance of client each time before call this problem is gone (as @mavarazy noticed)

[2015-03-23 05:10] chris-martin opened #134 "Document StringOperations.set parameters"
[code]

The comment on `set` refers to `EX`, `PX`, `NX`, and `XX`. The parameters on the method are `key`, `value`, `nxxx`, `expx`, and `time`. To further add to the confusion, `nxxx` and `expx` are typed as `Any`... so I have no idea what I should pass into them.

I'm guessing that `nxxx` somehow encodes `NX`/`XX`, and `expx` encodes `EX`/`PX`, but how?

[2015-03-23 08:01] debasishg commented on #134
I admit it's a difficult to use API. I will work on an improvement soon. Meanwhile please have a look at the unit test https://github.com/debasishg/scala-redis/blob/master/src/test/scala/com/redis/StringOperationsSpec.scala#L37 on how to use.  Let me know if u need any more help. I will start working on the improved one very soon ..

Thanks for reporting.

[2015-03-23 08:13] chris-martin commented on #134
Thanks, makes sense.

[2015-03-23 08:42] debasishg commented on #134
How about this ..
[code]
where the enum is as ..
[code]

[2015-03-23 09:09] chris-martin commented on #134
I just noticed that `time` here is `Long`, but the type of `expiry` on the `setex` method is `Int`. Is one of them wrong?

[2015-03-23 09:15] chris-martin commented on #134
Here's some related code I've written. I pass a `Duration` (I'm using Joda, but you could use `scala.concurrent.duration`), and let this choose millis or seconds as appopriate. A lot of this can go away if `expiry` can be a `Long`, though.

[code]

[code]

[code]

[2015-03-23 09:47] debasishg commented on #134
You are correct .. ```expiry``` should be ```Long``` in ```setex```. I will make the change and complete the implementation very soon. Any other observation on the suggested change ?

[2015-03-23 10:26] chris-martin commented on #134
I'd prefer either using an existing duration type or writing something like

[code]

rather than having two parameters.

On Mon, Mar 23, 2015 at 2:47 AM Debasish Ghosh <notifications@github.com>
wrote:

[2015-03-23 10:31] debasishg commented on #134
cool .. will do likewise and complete the implementation soon ..

[2015-03-23 11:20] #134 closed

[2015-03-23 11:20] debasishg commented on #134
Pushed to master all changes .. will cut a release soon ..

[2015-03-30 16:26] bmironenko opened #135 "Enable pipelining of PUBLISH commands"
It would be helpful if PUBLISH commands could be pipelined, especially since the return result is mostly useless. As of right now, this is implemented by the PubSub trait, which unfortunately is not part of the PipelineClient.

[2015-03-30 18:17] debasishg commented on #135
Thanks for reporting .. Looks like a good option to have .. let me put this in my schedule.

[2015-04-05 16:52] debasishg commented on #135
Fixed on master .. Please check if it works for you.

[2015-04-18 15:05] diptanu commented on #132
I would prefer the client to wait till the server is available.

[2015-04-20 17:51] mohnishkodnani opened #139 "Add support for WATCH"
I couldnt find if this code base supported WATCH MULTI EXEC semantics.
It would be very nice if this could be added.

[2015-04-23 22:30] pheaver commented on #122
Yeah, I ran into this problem today. What is the meaning of None in hgetall if it returns Some for non-existent keys?

[2015-04-25 13:57] #88 closed

[2015-04-26 16:21] #135 closed

[2015-04-26 16:21] #139 closed

[2015-05-08 13:32] xtreme-josh-wilks opened #140 "Pipelineing HyperLogLog throws a NullPointerException"
When pipelining a HyperLogLog command, it results in a NullPointerException:
[code]
[code]

[2015-05-08 18:24] debasishg commented on #140
Thanks for reporting this. The problem is with https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/HyperLogLogOperations.scala#L9 doing the ```.get``` which gives the ```NullPointerException``` during pipelining. I will have to change the hyperloglog APIs to return ```Option``` - an API change but have to do it for correctness sake.

[2015-05-08 18:32] #140 closed

[2015-06-15 12:55] #75 closed

[2015-06-18 21:33] howardlu0106 opened #141 "RedisClientPool with timeout causing continuous protocol errors."
I'm currently using 3.0, creating a single RedisClientPool with timeout.  It looks like when the timeout error occurs, the pool is consistently in a bad state even when the hits to redis dramatically decreases.  Error below:

Protocol error: Got (v,[B@75106b5c) as initial reply byte
java.lang.Exception: Protocol error: Got (v,[B@75106b5c) as initial reply byte
	at com.redis.Reply$$anonfun$7.applyO

[2015-07-14 08:36] danyaljj opened #142 "Example: why two `import com.redis._`?"
Just curious, in the README.md, in the exampes, why two `import com.redis._`?:
[code]

[2015-07-14 08:57] debasishg commented on #142
I am trying to show the Repl session. When you type the first `import`, the second line is the response from Repl. It's not that u will have to type twice. First is the command and the second is the Repl response.

[2015-07-14 17:23] #142 closed

[2015-07-14 18:05] danyaljj opened #143 "Redis db location on disk"
I am using `scala-redis`:
https://github.com/debasishg/scala-redis

Inside the `redis-cli` I have:

    127.0.0.1:6379> CONFIG GET databases
    1) "databases"
    2) "16"
    127.0.0.1:6379> INFO keyspace
    # Keyspace
    db0:keys=1,expires=0,avg_ttl=0

In the `redis.config` file we have a line:

    # The working directory.
    #
    # The DB will be written inside this directory, with the fil

[2015-07-14 22:12] danyaljj commented on #143
Found the answer here: http://stackoverflow.com/questions/11180999/redis-dump-rdb-saving-small-files

[2015-07-14 22:12] #143 closed

[2015-07-15 21:43] bmironenko opened #144 "PipelineClient.hincrbyfloat crashes"
Executing hincrbyfloat inside a pipeline produces the following exception:

[code]

[2015-07-29 14:29] rfyiamcool opened #146 "support hyperloglog ?"
support hyperloglog ?

[2015-07-29 14:35] debasishg commented on #146
https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/HyperLogLogOperations.scala

[2015-08-11 21:57] lahirug opened #148 "Do you support redisclient retry during a connection loss ?"

[2015-08-12 03:31] debasishg commented on #148
No .. it's not supported right now ..

[2015-08-14 16:16] sauldhernandez opened #149 "Support for ZREVRANGEBYSCORE"
Is is possible to add support for this operation in the library? We have a use case that is covered perfectly by it, but couldn't find it anywhere in the source.

Would you be willing to accept a pull request with support for this operation?

[2015-08-21 00:35] glenwong opened #150 "ZRANGEBYLEX support"
Any chance of adding ZRANGEBYLEX support?

[2015-08-23 08:45] debasishg commented on #150
will add .. Please give me a few days ..

[2015-09-11 13:30] htch opened #153 "Support for unix domain sockets"
Hi

At the moment there is no way to use scala-redis with unix domain sockets instead of TCP/IP sockets, which is a pity at least because [redis documentation](http://redis.io/topics/benchmarks) suggests that using unix domain sockets has some performance benefits:

I put together [a fork](https://github.com/htch/scala-redis) to see if it holds true for the project i am working on, and i wasn't di

[2015-09-20 16:59] sauldhernandez commented on #149
Nevermind, figured out that this was already supported.

[2015-09-20 16:59] #149 closed

[2015-09-30 03:22] mogproject commented on #144
:+1:
I've found the same problem happens in `incrbyfloat` in StringOperations.
https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/StringOperations.scala#L65

[2015-09-30 06:26] debasishg commented on #144
Thanks for reporting .. will take a look shortly ..

[2015-10-27 15:33] yookore opened #155 "Cluster Node command example"
Hi,

Thanks for this beautiful library.

However, can you show an example of how to send a CLUSTER NODES OR CLUSTER SLOTS command when I get a `MOVED 15160 192.168.121.168:6379` from a redis cluster?

Taken from http://redis.io/topics/cluster-spec#moved-redirection

[2015-10-27 20:32] philidem commented on #112
Any chance this will be looked at again? I'm seeing that pubsub message events have  their data converted to string and I suspect that this is the underlying issue.

[2015-10-28 14:52] yookore commented on #155
Never mind. I simply upgraded to v3.0.

I like your library.

[2015-10-28 14:52] #155 closed

[2015-12-05 20:53] zifeo opened #157 "New (maven) release request"
Due to [this bug](https://github.com/debasishg/scala-redis/commit/463adb1b24d7f48211bafecbf2278d9048499909#diff-88aa0ef9dec8a1a9e3c1b957cfa08d83) the current version is unusable on maven as no client pooling can happen if the selected database is different from `0`. Is there any other repository where we could get a version higher than `3.0` (local is not an option for us)?

Thanks for the work!

[2015-12-06 12:06] debasishg commented on #157
Released 3.1 just now .. Maven Central should have it after syncing ..

[2015-12-06 18:52] zifeo commented on #157
Works fine, thanks!

[2015-12-06 18:52] #157 closed

[2015-12-17 11:15] onilton commented on #141
This seems to affect me also. Are you using redis 3.0.x?  or 2.x ?

[2015-12-17 11:23] debasishg commented on #141
I could not replicate the error earlier. Will look into it again. Can you please provide a failing test case ?

[2015-12-17 11:54] onilton commented on #141
Not right now. We migrated from redis-server 2.8 to 3.0 two days ago and we are facing serious issues that seems similar to this problem. We the issue is between scala-redis 3.0 and redis-server 3.0. Right now we are going to rollback to redis-server 2.8. So I can't try to build a failing test case right now. After we rollback to 2.8 and everything goes fine, I will try to find a failing test scen

[2015-12-19 01:08] onilton commented on #141
It seems that the rollback from 3.0 to redis-server 2.8 went succesfully. We were suspecting that problem occurred when redis was forking the process during the (background) dump. Do you have any idea of how could I narrow down this behavior (and with this I would try to build a nice failing test case)

[2015-12-22 12:49] iammichiel commented on #141
Same problem here. App has been up for over a week with no change in load or concurrency. When suddenly protocol errors started to appear.

I am using a single Redis node v3 in a docker image which seems to be ok. I can access it, and get/set any information wanted. And I'm using the 3.0 version of the library.

[2015-12-22 14:55] iammichiel commented on #141
Switching to a redis 2.8 version has not solved the problem. A protocol error has occured after one hour of up time. I am switching to a RedisConnectionPool now. Will let you know if that changes.

[2015-12-22 15:04] debasishg commented on #141
Is it possible to have a unit test that replicates this behavior ? Any specific call that you think may give this error ?

[2015-12-22 20:09] onilton commented on #141
I forgot to add, we are using a redisClientPool.

`val redisPool = new com.redis.RedisClientPool(redisHost, redisPort, timeout = 20000)`

[2015-12-22 21:03] prvn opened #159 "Does disconnect really close connection ?"
I am having trouble trying to disconnect from Redis. Here is what I am doing
[code]

Even after the disconnect, the client still works ?

[2016-01-06 08:52] pengup commented on #141
I faced the same problem. I am using AWS Redis server (2.8) and locally Redis (2.8) in docker. The problem happened when I made a load test with multiple threading. The worst thing is that once this error happens, it won't stop, so cannot use Redis at all.
The error happens when I am using RedisClientPool. Switching back to RedisClient seems fixing the error. Refer to https://github.com/debasishg/

[2016-01-06 09:03] debasishg commented on #141
@pengup Can u please clarify what u mean by "load test with multiple threading" ? With `RedisClientPool` one free connection is used from the pool for every call u make. And Redis is single threaded by nature.

[2016-01-06 09:06] debasishg commented on #141
@onilton , @iammichiel - do u face the error *only* when the system is idle for some time ? Which may be related to redis server timeouts. Can u please check if u still get the error when u disable the timeout at the server end (I think there's a parameter for that in the config file) ?

[2016-01-06 09:26] pengup commented on #141
@debasishg I am using gatling tool (itself uses Akka Actor) for load testing. Below is my test snippet
  object Customer {
   val payload = StringBody("""{ "email": "${email}", "password": "${password}", "ipAddress": "string" }""")
    val auth = exec(http("auth ${email} ${password}")
      .post("/authentication")
      .queryParam("api_key", apiKey)
      .body(payload).asJSON
      .check(statu

[2016-01-06 09:36] debasishg commented on #141
@pengup

As long as each request lands up to a separate Redis connection you should be fine. You cannot use a single connection across multiple threads. Each request needs to get a separate connection from the `RedisClientPool`.

[2016-01-06 10:08] pengup commented on #141
@debasishg I have a Singleton object that has
`val clients = new RedisClientPool(AppConf.cacheServerHost, AppConf.cacheServerPort)`
then, get client per request
`private def getClient(): RedisClient = {
    clients.withClient {
      client: RedisClient => client
    }
  }`
Still, I got Protocol error in this setup. Thanks!

[2016-01-06 10:19] debasishg commented on #141
@pengup .. Does this `client` receive requests concurrently ? You mentioned Akka, so can it be the case that multiple actors use this `client` simultaneously ?

[2016-01-06 11:26] pengup commented on #141
@debasishg I understand that each actor/thread makes separate calls, and each call will get a connection from pool. Is there any possibility to (re)use same connection from pool? Here is one example method to use `getClient()`
`  def set(key: String, value: String): Boolean = {
   getClient().set(key, value)
   }`

[2016-01-06 11:30] debasishg commented on #141
@pengup If u want to use the same connection, then you can use a dedicated connection per actor instead of using the pool. Using the pool implies you get the next available connection. In case u r using actors, having one dedicated connection per actor makes sense since an actor processes messages sequentially

[2016-01-06 12:37] iammichiel commented on #141
No, call to redis are made on regular basis (every x). It cannot be due to Redis-server timeouts.
However, I was making the calls to Redis in multiple Akka actors with a single redis client. Some kind of thread-locking involved I think. Since I switched to a `RedisConnectionPool` it has not occurred once. (two weeks now up)

[2016-01-07 09:08] pengup commented on #141
@debasishg it turned out the Protocol error is caused by concurrency issue. My load test leads concurrent access to same Redis data record. So, when I change my methods to `synchronized` calling redis, the problem disappear. So, I need to figure out how to manage concurrency issue, using `synchronized` does not sound too good, as this will slow down the performance, I guess. Any suggestion?
Still,

[2016-01-07 09:45] debasishg commented on #141
@pengup Yeah, the fact that things work ok with `synchronized` indicates some concurrency issue. I think when you are using `RedisClientPool` and getting a connection from there, multiple actors may be accessing the connection and the I/O protocol gets garbled. At the `redisclient` level nothing is stored or cached and the entire multiplexing is done by the server.

[2016-01-07 12:39] pengup commented on #141
@debasishg I found out the problem was caused by my code using a separate method to get client, `private def getClient(): RedisClient = { clients.withClient { client => client } }` This method returns same connection all the time. A bit wondering how this happens. Now I use the way as described in README, and everything seems to work quite well. From Redis server log, I can see multiple redis clie

[2016-01-07 12:41] debasishg commented on #141
@pengup :+1:

[2016-01-11 15:59] fancellu commented on #122
I just stumbled upon this. It should return None or Some(NonEmptyMap)

Give the lack of response on this, doesn't look like it's going to be fixed.

[2016-01-11 16:06] debasishg commented on #122
Let me take another look. The scary part is the change in API semantics. I
do understand the asymmetry though. Do u think we should make this breaking
change ?

On Monday 11 January 2016, Dino Fancellu <notifications@github.com> wrote:

--
Sent from my iPhone

[2016-01-11 16:11] poroszd commented on #122
Well, you can always introduce a new method, working symetrically as expected, and make this one deprecated.

[2016-01-11 16:35] debasishg commented on #122
Yes .. That's what I was thinking too .. Only that I lose the
current symmetry of API naming. But that's possibly the best option now.
Will do it ASAP.

On Monday 11 January 2016, poroszd <notifications@github.com> wrote:

--
Sent from my iPhone

[2016-01-11 16:46] fancellu commented on #122
You could create a new method. Or you have it take a implicit param to decide on the behaviour, where it defaults to the old behaviour

e.g.

[code]

[2016-01-11 16:48] fancellu commented on #122
That way nothing will break existing code, but all it takes is a simple
    import Behaviors.NewB

or whatever who choose to name it

[2016-01-11 17:41] debasishg commented on #122
@fancellu This is a difficult to scale convention to evolve APIs and impacts clients more invasively. No one likes to import implicits :-) .. I think a simpler and better option will be to rename the API to `hgetall1` and mark `hgetall` deprecated. Maybe once we remove `hgetall` we can bring it back through another level of deprecation.

[2016-01-11 18:09] debasishg commented on #122
Created a PR https://github.com/debasishg/scala-redis/pull/160. Changed semantics, the new API is named `hgetall1` with `hgetall` deprecated. Setting of an empty Map is an error and `hgetall1` for a non-existing key returns `None`. Feedback ?

[2016-01-12 17:42] debasishg commented on #122
merged

[2016-01-12 17:42] #122 closed

[2016-01-17 19:48] sdale511 opened #161 "evalSHA with script the returns String"
Seems to be an issue with evalSHA returning a simple string.

The loaded script should return "foo", but instead returns "[B@7574e223".

The following is run against the head of the master branch:

scala> import com.redis._
import com.redis._

scala> val r = new RedisClient("localhost", 6379)
r: com.redis.RedisClient = localhost:6379

scala> r.scriptLoad("return 'foo'").get
res0: String = 6dcea60f

[2016-01-17 19:54] debasishg commented on #161
Thanks for reporting .. will look into it ..

[2016-01-24 16:26] debasishg commented on #161
Had a look today into this. Looks like the fix for https://github.com/debasishg/scala-redis/issues/128 did only solve the issue partially. It fixed for integers but broke others. In fact having a generic fix will take some time as the conversion between Redis and Lua data types are quite involved. See http://redis.io/commands/eval for details.
I need some time to work on this fix. I am right now t

[2016-01-25 15:23] sdiwu opened #162 "Is redis client v3.0 backward compatible with Redis v2.x ?"
I'm using Redis v2.8. In build.sbt, the redis client version used is 3.0. Is this client compatible with Redis v2.x ?

[2016-01-25 15:31] debasishg commented on #162
Yes, it should be .. Thanks.

[2016-01-25 17:14] sdale511 commented on #161
Thanks - we are in the middle of a global release and I have a workaround for now.  If my list clears up before next week week I’ll take a deeper look.

Appreciate the effort (and library).
-- 
Scott Dale

On January 24, 2016 at 8:26:26 AM, Debasish Ghosh (notifications@github.com) wrote:

Had a look today into this. Looks like the fix for #128 did only solve the issue partially. It fixed for inte

[2016-01-25 17:51] debasishg commented on #161
found some time last evening and started working on a branch .. have a look at this commit .. https://github.com/debasishg/scala-redis/commit/c040f223ad46d05ce779b17803348d17e43a743a .. now works with `String`, `Int` etc. from Lua. But the API for `evalSHA` is now less typed. Will continue to work when I get bits of time ..

[2016-02-07 18:21] sdale511 commented on #161
We have put this branch into testing and it looks good.

Thanks.

[2016-02-07 19:20] debasishg commented on #161
cool .. I will test it a bit more and then possibly merge with the master. Thanks for the feedback ..

[2016-03-02 07:14] pengfei-xue commented on #159
actually, it willl close the socket, but when you issue another redis command, it will try to reconnect.

`def send[A](command: String, args: Seq[Any])(result: => A)(implicit format: Format): A = try {
    write(Commands.multiBulk(command.getBytes("UTF-8") +: (args map (format.apply))))
    result
  } catch {
    case e: RedisConnectionException =>
      if (reconnect) send(command, args)(result)

[2016-03-02 10:38] pengfei-xue commented on #150
@glenwong @debasishg check this out https://github.com/debasishg/scala-redis/pull/163

[2016-03-08 16:30] billoneil commented on #109
I recently ran into this issue and the cause was misusing a lower level api.

Original (Not sure why we didn't use the built in ping before maybe we used an older version that did not have it?)
[code]

Fixed
[code]

I feel like the `send` API should be private and hidden from the API consumers. It took quite a while to figure out that the signature `def send[A](command: String)(result: => A): A =`

[2016-03-14 23:17] seanmcl commented on #109
+1.  I ran into this reusing a connection as well.  v3.1

[2016-03-15 13:33] aldolipani opened #164 "Disabling the Logger"
How do I disable the logger? It is set by default at DEBUG level.

[2016-03-16 08:58] debasishg commented on #164
The redis server log level can be set in `redis.conf` ..

[2016-03-16 12:27] aldolipani commented on #164
Thank you for the answer, but actually my problem was another one, totally unrelated to the use of this library (`debasishg/scala-redis`).

I'll explain it here just in case somebody else will encounter it.

My context is: Intellij IDEA 14.1.6 CE, working on a sbt project, using managed libraries in which one of the jars contains a `log4j.properties` file configuration, and a need to create a jar

[2016-03-16 12:27] #164 closed

[2016-03-21 00:45] maspwr opened #165 "evalBulk fails for non-String return values"
`evalBulk` does not work for non-String return values. This was fixed for `evalSHA` in #129. It needs to be fixed for `evalBulk` as well. Are pull requests welcome?

[2016-03-21 00:57] debasishg commented on #165
Absolutely .. Please PR :-)

On Monday 21 March 2016, Mark Aaron Shirley <notifications@github.com>
wrote:

--
Sent from my iPhone

[2016-04-05 15:33] balajraj opened #166 "redis.host is always read as local host"
This issue is similar to https://github.com/debasishg/scala-redis/issues/33
I am getting a java.net.connectionexception when the redis.host is not localhost.

Caused by: java.lang.RuntimeException: java.net.ConnectException: Connection refused

        at com.redis.IO$class.connect(IO.scala:37)

        at com.redis.RedisClient.connect(RedisClient.scala:94)

        at com.redis.RedisCommand$class

[2016-04-25 10:48] yaelal commented on #78
was this done ?

[2016-04-25 10:56] debasishg commented on #78
Unfortunately no .. and it swapped out from my radar. Anyone willing to submit a PR ? Or I will take this up in the coming weekend. Should not be too difficult .. Thanks for the reminder .. I am sorry this was long overdue and I should have done it ..

[2016-05-21 20:53] giftig opened #167 "Parallel calls with a single client in redis 3"
I've noticed a significant difference between the behaviour of this library when making parallel redis calls using a single client. Perhaps that's a sign I simply shouldn't be doing that, but I suspect it's more to do with changes to the way such calls are handled in redis 3 and the client falling behind.

I'm doing parallel calls a bit like this:

[code]

Where `_switchConfig` does a redis GET us

[2016-05-21 21:24] giftig commented on #167
For the record, I'm using:

[code]

[2016-05-27 16:54] DBassel commented on #109
+1 on 3.0

[2016-06-06 21:49] danyaljj opened #168 "Getting all the keys"
Is there a way to get all the keys stored in redis?

[2016-06-07 01:53] danyaljj commented on #168
Found it: https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/Operations.scala#L49
Would be nice to add samples to the documentation.

[2016-06-07 01:53] #168 closed

[2016-06-09 21:21] fizbin opened #169 "RedisShards.scala silently falls back to non-sharded code"
RedisShards.scala (`src/main/scala/com/redis/cluster/RedisShards.scala`) fails to override some methods from its parent class `RedisCommand`, making replacing `RedisCommand` with `RedisShards` error-prone in ways that are hard to diagnose.

Specifically, we found that RedisShards fails to override the (now-deprecated) call `def set(key: Any, value: Any, nxxx: Any, expx: Any, time: Long)`. It shoul

[2016-06-10 05:14] debasishg commented on #169
Thanks for reporting. I am a bit overwhelmed right now with other stuff, but will take a look over the weekend.

[2016-07-11 05:14] matthewrj commented on #141
I am having the same problem. Redis-server: 3, scala-redis: 3.1. I'm using the RedisClientPool with multiple threads accessing the pool (using Hystrix to wrap the call). Here is how I am using it:
[code]
And I get either this error:
[code]
or this error:
[code]

[2016-07-11 05:19] debasishg commented on #141
@matthewrj - Please have a look at the response of @pengup .. I suspect u r getting the same connection every time from the pool. This causes the exception.

[2016-07-15 12:50] Uxio0 commented on #131
Hi man,

For example, how could you do to recover multiple HGETALL results in one request?

I was trying using client **pipeline** and **pipelineNoMulti** but as a I see in Wireshark is sending every HGETALL request in a different packet.

Thank you!

[2016-07-15 16:35] debasishg commented on #131
Redis pipelining doc says the following ..

This means that the commands are sent **without waiting** for the response for the earlier command. Does this imply all of them are sent in the same packet ?

[2016-07-18 07:31] Uxio0 commented on #131
Hi,

I think the implementation of **pipeline** is ok. It sends commands on _MULTI_ and waits for the _QUEUED_ response.

But if you run the example `(printf "PING\r\nPING\r\nPING\r\n"; sleep 1) | nc localhost 6379`, you will see that everything is sent in the same packet.

**pipelineNoMulti**, on the other side, neither is sending everything in the same packet nor is sending without confirmation

[2016-07-18 07:59] debasishg commented on #131
I just took a look at the implementation of `pipelineNoMulti`. We need to send all commands together instead of doing them 1 by one. Something like `command1\r\ncommand2\r\n` etc. I think that will fix the issue .. will do it soon. Thanks for reporting.

[2016-07-18 08:17] Uxio0 commented on #131
No problem man, thank you for your support and your work on this awesome library :+1:

[2016-07-19 09:56] Uxio0 commented on #67
You have this official plugin for play framework 2.5:

https://github.com/playframework/play-plugins/tree/master/redis

[2016-07-19 10:14] Uxio0 commented on #78
I think this issue could be closed, is implemented already, right?

[2016-07-19 10:17] debasishg commented on #78
unfortunately no .. I am heavily loaded into other activities .. care for a PR ? :-)

[2016-07-19 10:46] Uxio0 commented on #78
Done, maybe you want to squash it ;) https://github.com/debasishg/scala-redis/pull/170

[2016-07-20 12:52] Uxio0 commented on #161
This should fix it and shouldn't break anyone's code, it's working for us

#171

[2016-08-08 07:01] planetenkiller commented on #141
I can replicate this bug. You need a single `RedisClient` with `timeout` != 0 (e.g. 1).
- send  `get` in a loop
- at some point you get an `SocketTimeoutException`
- send more `get` to get " Protocol error"

note: Perform these steps in a single thread

Analysis:
`IO.readLine` does not handle `SocketTimeoutException` on the line that uses `in.read`.

From `Socket.setSoTimeout`

The request AFTER a

[2016-08-08 07:45] debasishg commented on #141
Thanks for the test case .. will take a look soon.

[2016-08-08 08:18] debasishg commented on #141
Just now took a look .. @planetenkiller - can u please send a PR for your workaround ? I will do some testing and merge.

[2016-08-08 18:30] cainj commented on #109
+1 on 3.0

[2016-08-09 07:55] planetenkiller commented on #141
@debasishg done #173

[2016-08-09 17:26] #141 closed

[2016-08-17 20:21] skandragon opened #174 "PubSub: exception processing is difficult to recover from"
When a message of type E is passed back in the callback, it's not clear what the application should do.  Ideally, attempting to reconnect at some time interval with or without exponential backoff would be nice to have automatically occur, but doing this at the application level seems wrong somehow.  It's also pretty difficult from what I can tell.

What is the right thing to do when a message indi

[2016-08-18 14:31] debasishg commented on #174
Currently `E` is used to handle exceptions that may occur and handle it at https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/PubSub.scala#L60. The most trivial way to handle it is to initiate a new consumer discarding the current one. You can disconnect using `r.disconnect` and create a new connection.

[2016-08-18 15:52] dskrvk commented on #146
Duplicate: https://github.com/debasishg/scala-redis/issues/125

[2016-08-18 15:55] dskrvk commented on #148
Related to https://github.com/debasishg/scala-redis/issues/77

[2016-08-18 16:03] debasishg commented on #146
yes .. https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/HyperLogLogOperations.scala

[2016-08-31 08:16] dantodor commented on #144
The issue is exactly the same with incrbyfloat, and the solution is the same as in the commit pushed by bmironenko to hincrbyfloat, i.e. the line
`send("INCRBYFLOAT", List(key, increment))(asBulk).map(_.toFloat)`
should be
`send("INCRBYFLOAT", List(key, increment))(asBulk.map(_.toFloat))`

[2016-08-31 11:19] debasishg commented on #144
Yes, I guess that's now fixed by https://github.com/debasishg/scala-redis/commit/7a0e2958e3c20b64eb2932bd26a7d522010bec40

[2016-09-01 02:37] dantodor commented on #144
The hincrbyfloat is fixed indeed, but incrbyfloat is not. It will behave the same when called in a pipeline.

[2016-09-01 04:19] debasishg commented on #144
ah .. I see .. I will fix it soon .. Thanks ..

[2016-09-01 11:53] debasishg opened #176 "PipelineClient.incrbyfloat crashes"
The issue is exactly the same as with `hincrbyfloat`, and the solution is the same as in the commit https://github.com/debasishg/scala-redis/commit/7a0e2958e3c20b64eb2932bd26a7d522010bec40

[2016-09-01 11:54] debasishg commented on #144
Closing this issue and created https://github.com/debasishg/scala-redis/issues/176 for `incrbyfloat`

[2016-09-01 11:54] #144 closed

[2016-09-01 12:02] #176 closed

[2016-09-05 09:01] pzz2011 opened #179 "Cannot pass compile phase"
after following  the readme step by step until using the update ｃｏｍｍａｎｄ in sbt enviroment, the screen logs the follwing msg:
[code]
Any advice?Thanks !

[2016-09-05 09:24] debasishg commented on #179
I updated the README with the latest version. Can u please check ? I just tried this and it works ..
[code]

[2016-09-05 15:44] pzz2011 commented on #179
cannot pass again. The same problem still exist.
my scala version is 2.10.6 here and java version is  "1.7.0_80".

[2016-09-05 16:11] debasishg commented on #179
Before update, can u please try the following in sbt prompt ..
[code]

[2016-09-06 05:50] pzz2011 commented on #179
@debasishg  The ++ 2.10.6 command has no help to the problem ｓｏｌｖｉｎｇ.

[2016-09-06 06:04] debasishg commented on #179
I thought you were using the build script that comes with `redisclient` to play around within `sbt console`. But it looks like u r using `redisclient` in some other project as a dependency. Is this part of your own `build.sbt` ? `redisclient` comes with it's own build script within the project folder.

Can u please be more specific about what u r trying to do ?

[2016-09-20 10:43] sgluschenko commented on #100
@vadusumilli74 I think this issue can be closed now. I've added a new method ```HSET1``` that does return an Option[Long]

[2016-09-20 11:26] #100 closed

[2016-10-04 08:48] StelaLeon opened #182 "Concurrency problems when updating Redis"
When using the client in a multi-threaded execution context, the cache gets updated with overlapped values as in
[code]

[2016-10-16 16:02] debasishg commented on #182
To use in multithreaded context you need to use pooled connections, as Redis is single threaded. You can take a look at https://github.com/debasishg/scala-redis/blob/master/src/test/scala/com/redis/PoolSpec.scala

[2016-10-24 02:42] yabooc commented on #109
+1 on 3.0

[2016-10-25 11:26] kemul opened #183 "getting error java.lang.Exception: MOVED 2340 127.0.0.1:6301"
Dear All,

i already used redis-cluster, but always get exception every put to redis-cluster

``` java.lang.Exception: MOVED 2340 10.2.15.40:6301 ```

[code]
redis.processForKey (keyVal)(_.setex (keyVal, ttl, value))
[code]
"{key-1:123}"
"{key-2:123}"
[code]

[2016-11-10 07:53] pzz2011 commented on #179
I have past the compile dependency in the built.sbt, but failed in sbt test due to
"""
[info] - should distribute work amongst the clients for 2000000 list operations *** FAILED ***
[info]   java.util.concurrent.TimeoutException: Futures timed out after [20 seconds]
[info]   at scala.concurrent.impl.Promise$DefaultPromise.ready(Promise.scala:219)
[info]   at scala.concurrent.impl.Promise$DefaultPr

[2016-11-14 02:35] Seyun opened #185 "RedisClient is not initialized when the server is restarted."
If a redis server restarts, the client connection is not initialized.

When the redis server restarts, the socket connection between the server and the client is lost.  So the value of 'connected' in the following code gets to be false, which lets 'connect' method invoked.

https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/IO.scala#L68

The problem is that 'connect' doe

[2016-11-14 02:41] Seyun opened #186 "A subscribed client does not handle 'PING'."
A client that a channel is subscribed does not handle 'PING'. But it seems that it should have according to [the Redis document](http://redis.io/topics/pubsub)

When 'PING' is sent to a redis server, the client receives only 'PONG'. But the code does not seem to have one to handle it.

https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/PubSub.scala#L31

Please check this

[2016-11-14 02:59] Seyun commented on #183
I tried this last week but I learned that RedisClient does support Redis Cluster yet.

[2016-11-14 05:59] debasishg commented on #186
Thanks for reporting .. will check soon.

[2016-11-14 06:00] debasishg commented on #185
Thanks for reporting .. I will look into it .. and in case u have fixed it already, a PR will be welcome :-)

[2016-11-14 06:12] Seyun commented on #185
Thanks for your quick response.

I tried but a quick solution did not come up. :(

[2016-11-16 17:19] joshgarnett opened #187 "Scala 2.12 Support"
Would it be possible to get a 2.12 version pushed to maven?  The PR #184 was already merged.

[2016-11-16 17:41] debasishg commented on #187
absolutely .. I will do that very soon. Sorry for the delay ..

[2016-11-16 18:14] debasishg commented on #187
Done .. may take some time to sync with Maven Central

[2016-12-27 10:39] shailesh17mar opened #188 "Tried your documentation example it is throwing errors illegalargument."

[2017-02-16 03:37] Wei-1 commented on #183
Set up Redis cluster with master (30001, 30002, 30003) and slaves (30004, 30005, 30006)
Connection test with native Redis-client succeed

[code]
Will cause error

[code]

[2017-02-16 05:19] debasishg commented on #183
Thanks for reporting .. will look into it over the weekend.

[2017-03-10 07:48] duneTwo opened #190 "API for removing members from set: SREM in scala code doesn't work"
I tried to use srem api to remove several members from a set. It doesn't work. It only works with one value. But it works when I use lower api: sene("SREM"), List(values)).
scala> val y = new RedisClient("devhost",6379)

//This one doesn't delete at all
scala> y.srem("mykey", List("1877522398","1877522399","1877522390"))
res1: Option[Long] = Some(0)

//This one only delete 1877522398
scala> y.srem

[2017-03-10 09:10] debasishg commented on #190
Thanks for reporting .. will try to fix soon.

[2017-03-13 18:46] dqdinh opened #191 "Type information is lost when using the Pipeline function"
Hi,

I’m using the `pipeline` function to do batch atomic Redis operations — https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/RedisClient.scala#L113-L129

The pipeline function does not retain type information and instead lumps all transaction results as `List[Any]`. This is unfortunate because running any method off of RedisClient will return the correct type informat

[2017-03-14 07:24] debasishg commented on #191
Unless you are returning something like `HList` of Shapeless, `List(true, Some(debasish), None)` can only be typed as `List[Any]`.
Also if you look at the function definition of `pipeline`, it returns an `Option[List[Any]]`. So, yeah, it's a known limitation and custom processing needs to be done at the client side to retrieve the types.
Maybe using `HList` in redisclient can be an interesting ide

[2017-03-14 17:50] dqdinh commented on #191
Thanks for the feedback!

[2017-03-14 17:50] #191 closed

[2017-03-15 01:01] charlesfaustin commented on #109
+1 on 3.3

[2017-05-15 07:13] mohittt8 commented on #109
+1 on 3.3

[2017-05-16 15:10] jarrodwb commented on #187
Should this issue be closed?

[2017-05-19 14:00] mnarrell commented on #183
Any update here?  I see this as well.

[2017-05-19 14:10] debasishg commented on #183
I did take a look but got swamped into other stuff. I will take a detailed look over the weekend. Sorry for not fixing it earlier ..

[2017-05-20 15:28] debasishg commented on #183
@Seyun is correct .. `redisclient` doesn't support Redis Cluster as in https://redis.io/topics/cluster-spec .. The cluster that's implemented is something homegrown. I need to work on support for the native cluster. But currently I have no time and hence no promise on the timeline :-( .. However if anyone has a PR will gratefully accept it :-)

[2017-06-09 15:27] mdespriee opened #194 "lpush and rpop stuck"
We found our application stuck today, with 2 threads waiting forever. One blocked doing a lpush to Redis, the other blocked doing a rpop.
Redis server was fine. No log or anything suspicious on server side.

Java 8
redis-client 3.2

Any idea for a possible cause of this ?

[2017-06-09 15:36] mdespriee commented on #194
The 2 stacks:
[code]
[code]

Actually, the lpush seems to be locked by the rpop, and the rpop is waiting for something I don't know.
I don't understand why there is this lock, by the way, we're using client pooling and each of these action is in a separate .withClient{ } block and thread.

[2017-06-11 15:24] colinbes commented on #168
I thought using "keys" was discouraged in production releases and "scan" was recommended instead?

[2017-06-12 12:54] mdespriee commented on #194
On the rpop side, this is may be related to this bug of the JDK https://bugs.openjdk.java.net/browse/JDK-8075484.

[2017-06-29 04:40] ericwush opened #195 "StringOperations set functions missing implicit format parameter"
In `StringOperations` there are two `set` functions that are missing `(implicit format: Format)`. They are `def set(key: Any, value: Any, nxxx: Any, expx: Any, time: Long): Boolean` and `def set(key: Any, value: Any, onlyIfExists: Boolean, time: SecondsOrMillis)`.

[2017-07-05 17:01] jeremyhaile opened #196 "Allow RedisClientPool to be initialized with a Redis URL"
RedisClient can be initiated with a URL, but the pool version cannot.

[2017-07-12 08:38] #194 closed

[2017-07-12 11:43] ezhulkov commented on #109
+1 on 3.4
thanks to @billoneil approach with ping

[2017-07-12 12:28] michalwarecki commented on #109
+1 on 3.4

[2017-07-13 12:52] salokanto opened #197 "evalBulk() return types and parsing fail"
This is related to #128 and #129. Using `"net.debasishg" %% "redisclient" % "3.4"`.

**Case 1:** trying explicitly to specify return type.
`val result = redisPool.withClient(_.evalBulk[Int]("return 1", List.empty, List.empty))`
Does not compile:
[code]

**Case 2:** Not specifying the return type:
`val result = redisPool.withClient(_.evalBulk("return 1", List.empty, List.empty))`
Compiles, but cras

[2017-07-19 17:43] jshah111 commented on #196
you can create a redis client pool by `new RedisClientPool("host", port)`

[2017-07-20 17:29] rmccullagh commented on #109
+ 1 on 3.4. This occurs randomly is isn't reproducible

[2017-07-20 17:44] debasishg commented on #109
Thanks for reporting. I will take a look though I am struggling for free cycles with all the other stuff going around. Just a few questions ..

1. Is there a piece of code that can possibly give this error ? I know it may be a race condition and is not reproducible. But a piece that can possibly give this error will help in testing.
2. Has anyone found a workaround for this ? Any suggestions, any

[2017-07-20 17:50] ezhulkov commented on #109
@debasishg
You can take a look at my piece of code - with this code the error occurs often and reproducible.
I found workaround but it's not production ready. If you create new client for every request the error is gone.
Artifact is "net.debasishg" %% "redisclient" % "3.4"
Scala version is 2.12.2
Redis server is 3.2.9

[2017-07-20 18:04] debasishg commented on #109
Thanks @ezhulkov - I will take a look.

[2017-07-20 21:40] billoneil commented on #109
I haven't looked at this in a very long time but from what I can remember the issue is related to returning a dirty buffer back to the pool. In the provided example `println(redisClient.ping)` it calls ping but I believe the bytes are never read when the connection gets returned to the pool. The next connection then starts writing to it again and you end up in a weird state.

[2017-07-21 04:37] ezhulkov commented on #109
Sounds reasonable. In my case this error happens even without ping.
Might be result of the set command (ok) mixed with get command

[2017-07-21 15:05] billoneil commented on #109
Right that was just an example I think anything that uses the `send` command can leave the connection in a dirty state if it's not consumed. Just my best guess.

[2017-07-22 19:50] debasishg commented on #109
I tried with the following test snippet ..

[code]
Also tried putting the `set` within the loop. Could not replicate the error once. Am I missing something ? Can you please confirm if the error occurs if *only* redis is used and no other library like Akka is present in the mix ? I tried with Redis 3.2.9 on my Mac Air running Scala 2.12.1.

Need some more help trying to replicate the error.

[2017-07-22 20:37] billoneil commented on #109
I believe it is related to the lazy evaluation of the `send` api. When you call toString of ping it will flush the buffer. If you just call `r.ping` and do nothing with it it can leave the connection in a weird state. I also think it might be related to multi threading so maybe try a client with a very small pool size and hit it with multiple threads trying to force a connection to a bad state.

[2017-07-22 20:44] debasishg commented on #109
I tried with just the `r.ping` without the `println` because I also was thinking of the flush situation. Could not replicate the problem.

For multithreading the recommended way is to use the pool - you cannot use a single `RedisClient` in a multithreaded environment. I will test the pool (as u suggested), but I thought some people are getting the exception even on single `RedisClient`s. Hence I w

[2017-07-22 21:38] debasishg commented on #109
When using the pool, if a connection gets into a bad state (somehow, maybe the thread in which the connection was being used dies) and gets returned to the pool in the bad state, we can do a `reconnect` when we return the connection to the pool (https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/Pool.scala#L47). The `reconnect` will initialize the connection. WDYAT ?

I

[2017-07-25 09:22] salokanto opened #198 "Unusable SET implementation"
`SET` arguments, as per Redis documentation, are:
[code]
This means that `NX` or `XX` is optional, but current the implementation forces you to pick either:
[code]
Users typically want the default behavior (overwrite if exists), which is neither NX nor XX.

And while at it, it would be nicer to use `scala.concurrent.duration.Duration` instead of the custom-made one (`SecondsOrMillis`).

[2017-08-22 10:43] Yemsheng opened #199 "how to use maven to install?"

[2017-12-02 05:29] danielyli commented on #183
@debasishg Is there any update on this?

[2017-12-04 06:12] debasishg commented on #183
Unfortunately no :-( .. Too swamped into other stuff, lots of traveling as well. Let me try and spend some time during the Christmas holidays ..

[2018-02-04 03:06] dskrvk opened #200 "Are Publisher/Subscriber meant to be consumed by users?"
`PubSubServer.scala` introduces a dependency on Akka for the sake of what seems to be a demo implementation. There can be different ways to consume the client's pub/sub operations, but it seems wrong for the library to force consumers to use a particular framework.

My proposal is to move `PubSubServer.scala` into tests or a separate `examples` module that is not published with the main library, t

[2018-02-04 18:07] debasishg commented on #200
I am +1 with this suggestion. The only concern is existing user base already using this. But, as u said, the akka dependency is old. So we can try that. Please submit a PR.

[2018-02-04 18:42] dskrvk commented on #200
I searched for usages on Github (not the full picture of course, but hopefully a representative sample) and only found a few old (updated >3-4 years ago) "toy" repos that use these types.

I also found this: https://github.com/debasishg/akka-redis-pubsub What were your plans with it? Should we just move the updated PubSubServer code there?

In general, how do we handle existing consumers? Assuming

[2018-02-04 18:44] debasishg commented on #200
We can deprecate in the next version and follow it up with a quick update on the version.

[2018-02-04 18:45] dskrvk commented on #200
Sounds good.

[2018-02-11 07:56] #200 closed

[2018-03-06 14:02] masonkirchner commented on #197
@salokanto Did you ever find a fix to this?

[2018-03-09 18:41] masonkirchner commented on #109
@debasishg Yes, I am running into this issue while using a pool. Is there any established way to fix this?

[2018-03-20 06:55] writeaditya opened #204 "How to use scala-redis project in other scala project"
Hi,

I'm trying to use scala-redis library into my scala project but it gives an error. So, I have a following doubts -

1) How to create jar file of this project so that I can simply import it into my project
2) Right now I tried to create zip by compiling the code using "sbt" command from console and used in my project . I can execute RedisClient for inserting data into Redis but when I'm trying

[2018-03-26 05:24] jgdodson opened #205 "Upgrade Apache Commons Pool to version 2.5?"
Would this be a welcome change? The current version used is 1.6. Version 2.x (2.5 is most recent) has some performance and scalability improvements. I looked over [the docs](https://commons.apache.org/proper/commons-pool/), and the requisite changes would be minimal. I'd be happy to knock this out.

[2018-03-26 05:44] debasishg commented on #205
+1 .. feel free to send over a PR ..

[2018-03-27 04:39] jgdodson commented on #205
Upon further inspection, I think that the upgrade to Pool v2 will require at least one non-trivial change to the config parameters for GenericObjectPool, necessitating a change in the signature of RedisClientPool. So this will need to be put on the scala-redis 4.x track, if that's even planned.

[2018-03-28 01:23] jgdodson commented on #205
On closer inspection, I've realized that this update will require an annoyingly small change to the constructor of RedisClientPool, so this will need to be placed on the 4.x track, if that's even planned.

[2018-03-28 04:29] debasishg commented on #205
👍

[2018-05-03 19:31] debasishg commented on #109
I will take a look over this weekend.

[2018-05-03 19:36] validol-ekb commented on #109
Maybe, it'll help you. If we do such trick
[code]
we won't receive any exception.

[2018-05-04 20:04] validol-ekb commented on #109
I've discovered that my problem take place only when I'm trying to send some messages (e.g. GET or SET) within connection, which is already in subscription state. It isn't correct due redis official documentation https://redis.io/commands/subscribe. I think we should add some checks in RedisClient class and avoid this error explicitly.

[2018-05-04 20:34] debasishg commented on #109
Thanks for all these pointers .. I will take a look over the weekend.

[2018-05-05 13:40] #187 closed

[2018-05-05 14:36] debasishg commented on #109
@validol-ekb  Here's a PR that fixes the issue (I think) .. Can u pls check ? https://github.com/debasishg/scala-redis/pull/207

[2018-05-07 07:43] validol-ekb commented on #109
@debasishg I've checked fix. Works fine! Thank you.

[2018-05-07 07:57] debasishg commented on #109
Thanks .. I will merge the PR in the master and have a release soon ..

[2018-05-13 17:04] kubukoz commented on #109
I just hit this, any plans for a release? :)

[2018-05-13 17:58] debasishg commented on #109
Released .. should hit maven central on next sync.

[2018-05-13 18:38] kubukoz commented on #109
Seems to work (at least for now), thanks!

[2018-05-18 08:27] james-turner commented on #204
Just include it in your build.sbt
`libraryDependencies ++= Seq(
    "net.debasishg" %% "redisclient" % "3.7"
  )`

[2018-05-18 09:20] writeaditya commented on #204
Hi James,

Thank you for the reply. but Since my project is Spark based so will this library be helpful ? as I have checked we cannot consume this project in case of spark stream I have to collect the RDD and then use which will create an overhead on my project. Is there any way  or any version which can be sued with spark scala 2.11 version. Thanks,

[2018-06-18 22:01] jwreeder opened #212 "Upgrade Akka dep to Akka 2.4 and 2.5"
The akka version that is specified is rather old - 2.3.6. Any chance that this could be updated to more current versions? It appears to work fine against 2.4.20 but it would be nice to have this blessed. It would also kill the eviction warnings at build time.

[2018-06-19 13:23] jwreeder commented on #212
Apologies, didn't see that the akka dep was removed in 3.6. Closing.

[2018-06-19 13:23] #212 closed

[2018-06-19 18:52] kikhofua commented on #204
Hi Aditya,

Were you able to resolve the issues you had? I am having a similar problem and would benefit from what you learnt. Thanks.

[2018-06-21 16:04] codingkapoor opened #213 "Exception in thread "main" java.lang.Exception: Protocol error: Got (:,[B@1189dd52) as initial reply byte"
# Redis Data
I have a redis key *content* with following data:
[code]
# Executing script
When I execute the lua script *testsc.lua* I get appropriate response as below:
`redis-cli --eval testsc.lua "content"` returns `(integer) 1`

# Utilising scala-redis
But executing *StudioRedis.scala* returns following exception:
[code]

Can anyone please explain where am I getting wrong here? Also could someo

[2018-06-25 06:43] debasishg commented on #213
Thanks for reporting. I will take a look soon ..
In the lua code that u posted, could u identify the offending statement that causes this exception ?

[2018-06-25 06:46] codingkapoor commented on #213
This statement: `val res = r.evalBulk(luaCode, List("content"), List())`

[2018-07-03 12:07] debasishg commented on #213
Have been awfully busy since the last couple of weeks, which is likely to continue for a couple of weeks more. Has there been any further development on this ? Anyone want to take a shot ?

[2018-07-05 14:33] gkorland opened #214 "Add support for Redis Streams"
Add support for XADD / XREAD / XRANGE / XREVRANGE / XLEN ... operations

[2018-07-08 19:47] debasishg commented on #213
Can u please check https://github.com/debasishg/scala-redis/pull/215 ? Looks like I have a fix for it ..

[2018-07-19 08:54] mbuccini commented on #197
A bit hacky, but this will also solve the issue:

[code]

or simply import the implicits if you don't want to copy/paste them

[code]

[2018-07-21 06:17] Manc commented on #109
Hi, I'm a new user of this client and seem to have the same or similar problem. I'm on version 3.7.

When I use one client instance to subscribe, unsubscribe and subscribe again and then receive a message on a subscribed channel, I get an error (`E`) like this: `Protocol error: Got (3,[B@4b32b6db) as initial reply byte`.

[2018-07-21 18:05] debasishg commented on #109
@Manc Can u please send a failing test case that I can check ?

[2018-07-21 18:07] debasishg commented on #214
Thanks for reporting. I assigned this to myself and will work on it .. may be it will take some time to push into my already full calendar ..

[2018-07-21 18:07] debasishg commented on #213
@codingkapoor - ping ..

[2018-08-28 13:53] Mourish opened #216 "IllegalArgumentException: hostname can't be null"
I have facing issue hostname can't be null. My source code looks like

[code]
### I got keys_data values from smembers but unable to get zscan values.

[2018-08-29 10:39] chris-zen opened #217 "RedisClient.pipeline not possible to mock for testing"
I have a function like:

[code]

Given that the type of `pipe` is `RedisClient.this.PipelineClient` and `PipelineClient` is an *Inner Class*, it is not possible to write something like (the code doesn't compile because it is not possible to import PipelineClient):

[code]

I see that `PipelineClient` is implemented as an *Inner Class*, but used as an *Static Class*, as it receives a reference to i

[2018-09-02 13:54] aksharp commented on #183
Evaluating scala drivers for redis and get same error. Any plans to work on it?

[2018-09-03 16:27] zcourts commented on #109
I've just made sure my access to the client is thread safe using:
[code]
Prior to this, any use of the client would lead to this error. Using a combination of `get`, `set`, `lpush` and `lrange`

[2018-09-10 08:50] bogdanteutsky commented on #213
Hi there. When is the fix for this getting released? It really bites us...

[2018-09-13 21:41] jubins opened #220 "Unable to assign file as a value to a key and check size/length of any value"
I am trying to do two things:
1. Simple set operations, where I want to set key and value as a text file. For example my key:`A100` and its value:`A100.obj` or `A100.txt`.
2. Get that value from redis server and check size of the value.
Below is my code (basically I am trying to use redis as a simple database where my files are associated with unique keys and I could access them using the get meth

[2018-09-19 18:40] masahitojp opened #223 "CI is necessary for confirmation of PR"
## Motivation

I want to confirm that the unit test passes easily after change in PR

[2018-10-28 00:44] schulace commented on #109
The above was my problem as well. I was accessing the client from 2 separate threads, which is what caused this behavior. If you're reading this years from now, make sure that each instance of the client is only accessed by 1 thread at a time. I thought I was safe since I was using actors and those are supposed to avoid a lot of concurrency issues but I still had accesses to this from separate thr

[2018-11-12 16:17] debasishg commented on #183
Unfortunately I still have no bandwidth to work on this. Just curious has anyone been working on integrating redis cluster with `redisclient` ?

[2018-11-12 17:01] Wei-1 commented on #183
IMHO, just using `redisclient` will be hard to integrate with Redis cluster.
A cluster connector is pretty much needed, like what Jedis had done [here](https://github.com/xetorthio/jedis#jedis-cluster)
My company ended up wrote a Scala port based on Jedis Cluster.

[2018-11-21 08:44] sourabhlk commented on #183
Will you add support in any time soon?

[2018-12-26 05:59] chitralverma commented on #115
Is this issue still open ?

[2018-12-26 07:04] debasishg commented on #115
Yeah .. it's still open .. unfortunately I don't have any time to implement redis cluster spec. PRs welcome though :-)

[2019-01-03 13:11] edwardyoon commented on #159
So, how to disable reconnect option or can I force disconnect?

[2019-01-17 14:07] Darkhan97 opened #229 "java.lang.Exception: Protocol error: Got ($,[B@1669a570) as initial reply byte during hscan"
@debasishg  I've got a exception similar to the which is = "java.lang.Exception: Protocol error: Got ($,[B@1669a570) as initial reply byte".  I am using Redis server v=4.0.9,  clitent "net.debasishg" %% "redisclient" % "3.9".
Exception was raised from here !!!
      val scanTri:Option[(Option[Int], Option[List[Option[String]]])] = try {
        r.hscan(key, cursor, s"${text}*", 500)
      }

[2019-01-22 15:41] masahitojp commented on #214
Hi , @debasishg Do you work it now? I'd like to implement this and started to do it.

https://github.com/masahitojp/scala-redis/tree/support-redis-stream
Could you please assign this issue to me if you do not mind?

Thanks!

[2019-01-30 15:31] pritchett commented on #109
This solution has also worked for my project.

[2019-02-06 21:26] danielwpz opened #230 "[Feature] Support for TLS"
Hey,

Looks like your library doesn't support TLS connection with Redis. Do you have any plan to add this feature?

[2019-02-07 10:26] writeaditya commented on #204
Hi Kikhofua,

Yes , there is a maven repository from where you can directly include jar in your project. I know by now you must have resolved the issue. but, it might help some other. Thanks, closing this issue.

[2019-02-07 10:26] #204 closed

[2019-02-25 07:37] masahitojp commented on #223
@debasishg How do you think about this?

[2019-03-11 03:49] yljphp commented on #199
+1

[2019-03-14 14:53] jojo19893 commented on #230
Redis does not support native TLS https://redis.io/topics/security

[2019-03-15 17:35] danielwpz commented on #230
yeah that I know. But cloud providers such as AWS has already enabled TLS feature for Redis(elastic cache). What shall I do if I wanna use it with TLS?

[2019-03-15 17:51] danielwpz commented on #230
So sounds like you don't have any plan on this? If that's the case we will switch to another lib, just wanna confirm.

[2019-04-03 10:23] writeaditya opened #231 "Subscribe gives Protocol error: Got (3,[B@1acc768) as initial reply byte"
Hi,

I'am trying to create a pub sub using this project. Able to publish easily, but when trying to subscribe using below, it gives error as below.

val clients = new RedisClientPool("ip", port)
clients.withClient {
      client =>
        {
          client.subscribe("channelname") { f => println("message" + f) }
        }
    }

Error given is :-

Exception in thread "main" java.lang.Exception:

[2019-04-03 10:40] debasishg commented on #231
I will take a look soon .. meanwhile please take a look at https://github.com/debasishg/scala-redis/blob/master/src/test/scala/com/redis/PubSubSpec.scala#L35-L69 on the correct usage of pubsub in redis ..

Thanks.

[2019-04-03 11:09] debasishg commented on #231
I just now tested with your code (modified the host and port) - Not sure what "ip" refers to in your host name ..

[code]

I get the following output ..

[code]

Looks ok to me ..

[2019-04-04 06:24] writeaditya commented on #231
Thanks Debasish, It worked for me as well, not sure where it was giving error. Its working now , I just have to create a normal instance rather then pool. Much thanks for your time. Keep working on your project. Its wonderful and very helpful. Closing this ticket.

[2019-04-04 06:24] #231 closed

[2019-04-16 09:34] unoexperto commented on #120
@kelf https://github.com/debasishg/scala-redis/issues/95#issuecomment-31673651

[2019-04-23 13:00] fgaule commented on #78
Is this still open?

[2019-04-23 15:20] debasishg commented on #78
It's already implemented .. https://github.com/debasishg/scala-redis/blob/master/src/main/scala/com/redis/RedisClient.scala#L103-L105 .. I will close this issue ..

[2019-04-23 15:20] #78 closed

[2019-05-07 09:31] thedevd opened #233 "Getting values of all the keys"
I am not able to find any of the apis, that can allow me to fetch values by passing list of keys.
To be more clear I am looking for a method that can accept List of keys as parameter and returns me Map of key value pairs from redis -

     val redis = new RedisClient("localhost", 6379)
     redis .getAll(redis .keys("*").get)) // something like this

[2019-06-11 02:04] xuwei-k opened #237 "publish for Scala 2.13"
https://github.com/debasishg/scala-redis/pull/236

[2019-07-06 09:53] LucyWengCSS opened #239 "Exceptions throwed by spack jobs: NOAUTH Exception Cache"
Hi Team,

Issue Definition: Exceptions throwed by spack jobs: ncom.redis.RedisProtocolParsingException: NOAUTH Exception Cache

Recurrence: The binary was running without any errors since the past 9 months. However, since 9th Jun the error NOAUTH Exception Cache can be observed. Occurrence of this issue is very less. Most of the time this is working fine.

Client SDK: Jedis 2.8.0 and Scala-redis_2

[2019-07-06 15:11] debasishg commented on #239
Looks like you are running both Jedis and scala-redis - I am not sure if the issue has something to do with this.

Regarding

can there be any network issues that caused the timeout ?

I am just guessing as this looks like a local environment specific issue as it has been running for 9 months without any issue ..

[2019-07-16 15:12] LucyWengCSS commented on #239
Hi Debasish,

Thanks so much for your help in the issue.

The information is very useful. We agree that the intermittent network issue may cause the NOAUTH exception in the client and we already add the try-catch logic in our application.

Thanks again.

[2019-07-24 03:35] xuwei-k commented on #237
https://repo1.maven.org/maven2/net/debasishg/redisclient_2.13/

[2019-07-24 03:35] #237 closed

[2019-07-24 03:36] xuwei-k commented on #223
https://github.com/debasishg/scala-redis/pull/224
https://travis-ci.org/debasishg/scala-redis/builds

[2019-08-06 15:42] atais opened #242 "All methods in RedisShards from RedisCommand trait must be overriden"
Hi.

I wanted to use `RedisShards` but currently, many methods return strange errors.
What I have found is that basically, any method from `RedisCommand` that is not overridden will not work. Simply because in `RedisShards` single host variables are dummies:

[code]

And the error that happens is

[code]

Linked issue:
https://github.com/debasishg/scala-redis/issues/216

-----

Check my failing PR

[2019-08-06 15:43] atais commented on #242
I am not sure, but `RedisCluster` may have the same issue

[2019-08-06 15:49] atais commented on #242
You can check the test I have added on my `master` branch
https://github.com/atais/scala-redis

[2019-08-19 15:37] #242 closed

[2019-08-23 13:55] atais commented on #179
You need to manually start redis dockers, like described in `travis.yml`

[code]

[2019-09-05 11:24] nguyenvietyen commented on #214
FYI. I tried to continue this for our own projects that are now based on Redis Streams. I found it not trivial to make a simple yet generic implementation. The responses from various Stream command have potentially a high variability. The response parsing functions are therefore not so straightforward.

We've resorted to custom parsers ATM to workaround this.

[2019-09-06 21:10] stsatlantis commented on #230
Sorry for asking the following question here. I don't want to be disrespectful: @danielwpz which library provided you this functionality?

[2019-09-26 14:57] #167 closed

[2019-10-11 12:15] ppanda2-ford opened #254 "Connection over SSL"
Does this library support connection over SSL. I have tried and checked the code, did not see anything for SSL. Could you please confirm.

[2019-10-22 16:47] voidconductor commented on #185
I've run into this problem in production, after redis server restarts - all operations are performed against database 0, causing loss of data

[2019-10-25 05:19] wadrn opened #256 "llen() return Option[Long]"
in readme.md example, it shows llen() will return Option[Int], but actually, it returns Option[Long], which will cause an error to do next operation.

[2019-11-12 06:56] beikern commented on #109
version `3.10` still reproduces this issue.

This workaround creates a new redis client per thread, right? I suppose it can lead to memory problems if there're a lot of threads using the redis client, am I wrong?

[2019-12-11 02:51] ValdemarGr opened #257 "Support for transactions"
It would be nice with support for transactions, since it is quite nice for performance.

https://redis.io/topics/transactions

[2020-01-17 19:19] mjuanes commented on #217
Same issue here, I think I'll choose another library.

[2020-01-25 05:59] Ray1988 opened #259 "Use CRC-16 for cluster hashing"
Redis is using CRC-16 for node lookup, but this library is using CRC-32 which doesn't compatible with other Redis clients such as iorreids I'm using when inserting the key.  I wonder how can I walk around this issue?

thanks

[2020-01-29 13:21] solyd commented on #217
this works for me (am able to refer to PipelineClient as a type):

[code]

[2020-03-01 04:57] codeninja55 commented on #214
Just wondering what the status of this additional feature will be? Does anyone have a basic implementation of this as a workaround for now?

[2020-03-01 09:55] debasishg commented on #214
@masahitojp Thanks for your effort .. I am too pre-occupied with other stuff to start working on this. It would be wonderful to have a PR though .. and apologies for the late response ..

[2020-04-30 06:47] #230 closed

[2020-04-30 06:47] #254 closed

[2020-05-03 09:41] debasishg commented on #256
done ..

[2020-05-03 09:41] #256 closed

[2020-07-17 14:01] amerpersonal opened #262 "Performance issues"
Hi,

We're using scala-redis client to get things from Redis inside web server. Her is an architecture in brief:

1. Server is implemented pon Akka HTTP
2. On each request, we're getting list of terminal symbols from Redis, using Redis Poll.

This lasts for 3-4 seconds on our dev env. I tried getting same key directly from redis console and its really fast. I isolated the code and here it is:

`va

[2020-07-17 16:58] debasishg commented on #262
I think opening a new client on every poll is expensive. Can u allocate a pool of clients for once and then use the pool to fetch a client for every request ?

[2020-07-20 08:00] amerpersonal commented on #262
Thanks for answer @debasishg . Actually, I'm already doing that. I only create one client poll on server start and then call withClient method on each request.

Newest benchmark says it needs 726 ms on my local machine. However, on DEV environment it takes much more, around 3-4 seconds sometimes. Do you have ideas how its possible? Of course, dev env is more used than my local machine.

BTW, I als

[2020-07-20 08:23] debasishg commented on #262
Can u please check what timings you get in the benchmark by making the call synchronous and removing the `Future {}` ? Besides the normal overhead of closures that get created in the process, I don't see any place for further optimization here.

Also if you have more requests in DEV you can try increasing the `maxIdle` argument in the call to `RedisClientPool` - currently it is set to `8` (https:/

[2020-07-20 09:54] amerpersonal commented on #262
Thanks for the answer. Just tried without using futures and heres a result:

got one valye async in 421 ms
got one value sync in 308 ms

I also tried changing max idle value (both lower and higher than 8) but it does not affects overall time so much, at least locally.

It's a bit faster now overall.

I'll try to put it in the actor and use the sync version so we'll see how it behaves on DEV env. W

[2020-07-29 10:09] amerpersonal commented on #262
Unfortunatelly, I didn't manager to get it faster on DEV. I tried another Scala async client, and it works much faster. Funny thing is that event on PROD it works ok (with much higher load). It can be a Redis internal thing, or the way Futures are handled internally. Thanks for help anyway!

[2020-10-14 08:49] Kim-SeongCheol commented on #148
still open?

[2020-10-15 03:53] xuwei-k opened #263 "incorrect tag name on GitHub. s/v3.3.0/v3.30/"
https://github.com/debasishg/scala-redis/tags

latest version should be v3.30 🤔

![スクリーンショット 2020-10-15 12 48 03](https://user-images.githubusercontent.com/389787/96074867-b069fb00-0ee4-11eb-8595-6120b06d32bb.png)

[2020-10-21 08:59] debasishg commented on #263
Thanks for pointing it out .. Updated

[2020-10-21 08:59] #263 closed

[2020-12-01 00:53] naderghanbari opened #264 "Add support for variadic EXISTS"
Since Redis `3.0.3` the `EXISTS` command accepts multiple keys and returns the total count of existing keys (with no deduplication).

[2021-03-18 13:16] egorsmth opened #266 "How to create parser from object?"
I need to do something like this
[code]

[2021-04-07 23:00] saragallagherpdgc opened #267 "How to use SSL Context to connect to Redis instance on AWS Elasticache with Encryption In-Transit enabled"
I am unable to properly connect to a Redis Instance on Elasticache with Encryption In-Transit enabled. I can connect to the redis client on the read. However on the write nothing happens, my job just hangs and eventually times out. The elasticache does not have any authentication.  @mattusifer I saw that you wrote the code for SSL Context, if you could provide any insight that'd be great. Thanks!

[2021-04-20 10:05] Oduig commented on #229
We had this problem and solved it. What appears to be the issue is code like either of the following examples.

[code]

[code]

In both cases, the `client` is used in a situation where it is no longer in the `withClient` block, either used outside the block or in an asynchronous piece of code. At this point, the `withClient` block is finished and the client has been returned to the pool. If anothe

[2021-06-23 08:28] ShreyasTandale opened #268 "Specify TTL for a key before pushing to Redis"
Hi, Is there a way to specify a TTL for a key before I push to redis? I am pushing a list into REDIS something like this = redisClient.lpush(key, value)

[2021-06-27 11:57] ShreyasTandale commented on #268
This was simple.
val _redisMasterClient = new RedisClient(redisMasterUrl, 6379)
_redisMasterClient.expire(key, TTL)

Marking this closed.

[2021-06-27 11:57] #268 closed

[2021-07-10 01:51] TinusChen opened #270 "Cannot find method "setCreated" in java.net.Socket. Unsupported JVM?"
**Describe the bug**

 javax.ws.rs.ProcessingException: org.newsclub.net.unix.AFUNIXSocketException: Cannot find method "setCreated" in java.net.Socket. Unsupported JVM?

**To reproduce**
$ sbt
sbt:RedisClient> update
sbt:RedisClient> test

**Unexpected behavior**

logs:

[code]

**Additional information**

**Mac version**
$ uname -a
Darwin ... ...  16.7.0 Darwin Kernel Version 16.7.0: Sun Jun  2

[2021-07-30 12:41] ShreyasTandale opened #271 "Getting java.lang.Exception: Protocol error: Got (+,[B@38466868) as initial reply byte while pushing to redis quite frequently"
We are using below redis version setup using bitnami as a master slave configuration.
Steps to install - https://engineering.bitnami.com/articles/deploy-and-scale-a-redis-cluster-on-kubernetes-with-bitnami-and-helm.html

Redis version - 5.0.7-debian-10-r32
scala-redis version - 3.30
Frequently, we are getting below exception while pushing keys to redis.
java.lang.Exception: Protocol error: Got (+,

[2021-08-02 14:06] ShreyasTandale commented on #271
I have observed that our PODS don't process anything for 4-5 HRS, until the next iteration starts. After this idle time, the exception starts coming.

[2021-08-02 18:32] ShreyasTandale commented on #229
object RedisConnectionUtil extends RedisServiceProvider {
lazy val _redisMasterClientPool = new RedisClientPool(redisMasterUrl, 6379)
override def getRedisMasterClientPool(): RedisClientPool = _redisMasterClientPool
}
trait RedisCacheService {
def insert(key: CacheKey, values: List[String]): Boolean = {
    val redisPool = redisConnectionUtil.getRedisMasterClientPool()
    try {
      redisPool.wi

[2021-08-03 06:08] Oduig commented on #229
I don't see any problem with that code... Perhaps consider writing a minimal example with a test, and posting it to GitHub so it's reproducible.

[2021-08-03 06:11] debasishg commented on #229
Yes, a minimal reproducible test case will help debug the problem.

[2021-08-03 06:18] debasishg commented on #229
@Oduig Indeed .. a `client` escaping the scope of `withClient` is a problem.

[2021-08-18 19:05] zizzle6717 opened #272 "Missing various methods such as ZPOPMIN, ZPOPMAX, and many more"
I think the implementation of many of these methods would be fairly straightforward. I was able to easily extend RedisClient and add them myself, but the issue is using those methods with RedisClientPool which is not so simple. Adding these methods would make them available when using a pool.

I will gladly open a PR if there is no reason not to add these commands. Thank you!

[2021-08-18 19:16] zizzle6717 commented on #272
Others include BZPOPMIN, BZPOPMAX...

and for streams...

XINFO, XADD, XTRIM, XDEL, XRANGE, XREVRANGE, XLEN, XREAD, XGROUP, XREADGROUP. XACK, XCLAIM, XAUTOCLAIM, XPENDING https://redis.io/commands#stream

[2021-08-24 17:09] zizzle6717 commented on #272
Here is a PR to add the missing sorted set commands, https://github.com/debasishg/scala-redis/pull/273

[2021-09-01 16:10] zizzle6717 commented on #267
Try something like this `new RedisClient("your-aws-endpoint", 6379, sslContext = Some(SSLContext.getDefault()), secret = "your-auth-secret")`

[2021-09-01 20:31] #267 closed

[2021-09-10 07:34] erikvanoosten opened #277 "Is server-assisted client side caching supported?"
Does scala-redis support server-assisted client side caching as described on https://redis.io/topics/client-side-caching ?

[2021-09-17 19:33] AdamBlade opened #280 "Akka Dispatcher issue with scala redis"
Hello,

I'm quite new to Scala and Redis in general and could use some help. Here is the situation, a friend of mine sadly passed away and we were working on a project together. I did frontend he did backend. As you can imagine I have to do both now for the foreseeable future.

I'm encountering an issue that is very strange, because the application runs fine when using IntelliJ but once I package

[2021-10-21 09:18] AthanatiusC opened #282 "How to add password to RedisClientPool?"
Hello, i have a code which uses RedisClientPool, but it does not integrate any kind of authentication yet. But now we need to change it into using authentication. So i wonder can i add password parameter into RedisClientPool? If so, may i get some example?

Thank you!

[2021-10-29 21:42] noahlz opened #286 ""Exception: ERR wrong number of arguments f or 'expire' command" occurs when attempting to expire a key that contains spaces."
using v3.41 (thanks!) I encounter the following error when attempting to expire a key that has spaces in it.

Debugging:

[code]

It seems that the LPUSH succeeds but it chokes on the EXPIRE command. Note `EXPIRE 617c68cc27ebbf55984a7271:c349p7127:3:Not Available:Not Available:GBP_GBP_L_CEQ:GBP_GBP_L_CEQ 1800`

I'm looking into this further...

[2021-10-29 21:55] noahlz commented on #286
This seems to be the issue: the implementation of batch commands

[code]

Note line 41 - it takes all arguments and concatenates them "as-is" to the Redis.

Do we want the user to be required to escape their key with quotes, or do that automatically? Given this function is completely agnostic as to what `args` are, seems like it's up to the user(...?) Unless there are quotes added to the key of fu

[2021-10-29 22:08] noahlz commented on #286
@debasishg Ok, from reading the code, it's rather clear to me that we should be providing double quotes around keys (and all arguments, really) when using `batchedPipeline`. The only question I have is - do we want to do "magic double quotes" (apologies to PHP devs reading this from the early 00's), or merely document for users how to use `batchedPipeline` properly, i.e. quote your keys, etc.

[2021-10-29 23:51] noahlz commented on #286
Ok, I added quotes to the keys, and it got me past `EXPIRE`, but now LPUSH seems to be having issues as well

First we

`LPUSH "617c85850d04fc7365744c2f:c349p7127:3:Not Available:Not Available:JPY_JPY_L_CEQ" [B@2e14997d [B@7a32edf6 [B@38fe1e9f [B@1fd4a327`

Which is storing Kryo serialized Objects

Then we try to read them back with zrange, it's claar that it serialized the string representation..

[2021-10-30 01:20] noahlz commented on #286
I am able to partially solve this by encoding our byte array data as Base64 strings. Not exactly an ideal solution, as it increases the size of our data, and our code is now more complicated having to go Object > Bytes (via Kryo serialization) > Base64 String > Redis and then back again.

If we can't update the `batchedPipeline` implementation to more robustly handle `Array[Binary]` command argume

[2021-10-30 01:23] debasishg commented on #286
Hi Noah - the commands in batchedPipeline should be exactly the same as you
do for normal ones. In case u need to pass something or receive something
that needs custom serialization/ deserialization, you need to pass in
custom `Format` and `Parse` instances. Check out the tests that deal with
serialization. I will have some examples as well later today that deal with
serialization.

Thanks.

On Sa

[2021-10-30 06:37] debasishg commented on #286
@noahlz hmm .. Looks like the `Format` and `Parse` are not passed properly when sending commands in batch. I will work on this very soon and get back to you.

BTW thanks for the other PR - I merged it.

[2021-10-30 08:06] debasishg commented on #286
I added a PR .. https://github.com/debasishg/scala-redis/pull/288 .. will u able to test with a local build ? Otherwise I can make one more release .. Please take a look at the tests in `PipelineSpec`.

[2021-10-30 08:07] debasishg commented on #286
@noahlz - In case u face any issue with the above PR can u pls send me a reproducible test case here which I can work through.

[2021-11-01 14:51] zizzle6717 commented on #272
@debasishg I have updated the title, because the PR only added sorted set commands (ZPOPMIN, ZPOPMAX, ETC.)...We are still missing the stream commands

[2021-11-01 17:00] reynoldsm88 opened #289 "QUESTION - should `RedisClient` be shared or used as a singleton?"
To elaborate, if I am creating multiple processors (eg: Akka Actors) that need to interact with Redis, can I reuse the `RedisClient` instance or should each processor spawn it's own instance?

[2021-11-01 20:42] noahlz commented on #289
RedisClients should not be shared between threads, and there is a `RedisClientPool` provided with the library to facilitate safe concurrent programming.

[2021-11-01 20:44] noahlz commented on #289
See "Using Client Pooling" in the readme

[2021-11-01 23:37] noahlz commented on #286
@debasishg I opened a PR #290 demonstrating some cases where batchedPipeline errors on keys containing spaces or single quotes.

More interesting:

I ran our application with some data sets that don't have spaces or single-quotes in keys. There was no error, but also we had some threads hanging on this stack:

[code]

Should I open a different issue for this?

[2021-11-02 12:37] noahlz commented on #282
RedisClientPool has a constructor parameter called `secret` which serves as the password parameter.

[2021-11-02 16:25] #289 closed

[2021-11-02 17:40] noahlz commented on #286
Can confirm this issue is resolved in the latest changes to #287 ! Many thanks!

[2021-11-02 18:23] debasishg commented on #286
@noahlz Thanks .. closing this issue then.

[2021-11-02 18:23] #286 closed

[2021-11-03 15:26] noahlz commented on #282
@AthanatiusC can you please provide more details? I might be seeing a similar issue where my RedisClientPool is failing with `java.lang.Exception: NOAUTH Authentication required.`

[2021-11-03 17:04] noahlz opened #293 "batchedPipeline does not support password-protected redis servers."

[2021-11-03 17:23] noahlz commented on #282
I added unit tests in a PR that prove that RedisClientPool supports authentication properly.

There is an issue with RedisClient in the new-added BATCH mode, but that's unrelated to this.

[2021-11-04 01:52] AthanatiusC commented on #282
Hello, Thank you very much for the kind reply. I have not been looking at email for the past few days.
Thanks to your help of Secret parameter, i have been successfully use RedisClientPool with password... there was some edge case where authentication failed but it was just my workplace environment failure.

Thank you!

[2021-11-04 01:55] AthanatiusC commented on #282
If anyone were to encounter some difficulties constructing the pool. Here is some code i have been successfully use the pool with

`lazy val redisClientPool  = new RedisClientPool(redisServerUrl, redisPort, database = redisDatabaseName,secret=Some(redisPassword))`

[2021-11-05 01:44] noahlz commented on #293
just checking if this is an issue with the AUTH command, and seems like not the case.

https://redis.io/topics/pipelining

[code]

[2021-11-08 17:12] noahlz commented on #131
Thanks for rolling out this feature! Per our APM, it looks like we have a huge improvement: orange is the % of time spent in Redis operations - I think you can see the release date pretty clearly:

![image](https://user-images.githubusercontent.com/447754/140787272-93970c1d-b008-4978-b454-39f0fa8286e3.png)

[2021-11-08 17:14] debasishg commented on #131
@noahlz Glad that it gave you some benefits. Thanks for sharing ..

[2021-11-24 14:11] yangyongyongyong opened #294 "can you support sentinel"
希望scala的包又多又好

[2021-11-24 14:34] zhan-ge commented on #294
这只是一个 Redis 客户端，Sentinel 要解决的问题不应该出现在一个简单的客户端层，应该在中间件层、以用户无感知的方式实现。

[2021-12-10 21:07] yangyongyongyong commented on #294
但是客户端连接需要支持配置sentinel模式. jedis等等都可以

[2022-01-16 13:08] ashwinbhaskar opened #297 "Rate limit support"
Just an fyi, I created a small library to provide support for rate limiting on top of this library - https://github.com/ashwinbhaskar/redisclient-rate-limit

[2022-01-24 15:05] cleliofs commented on #294
@debasishg Please, could you confirm this? whether this Redis client supports Sentinels for monitoring and failover scenarios handling? TIA

[2022-01-29 15:20] #297 closed, assigned to nobody

[2022-01-29 15:21] debasishg commented on #294
@cleliofs No, it does not support sentinels.

[2022-02-20 05:32] shoaib42 opened #298 "Added LMOVE and BLMOVE but cannot test, blocked on PR"
Hello maintainers!

I added the LMOVE and BLMOVE operations as

[code]
I tried to execute the tests but I get errors related to docker etc. Is there a CONTRIBUTE doc (or any doc) that I can go through that describes the dependencies for test?

[code]

[2022-03-01 08:21] sedhha opened #299 "Using with memcached redis protocol times out"
I am trying to setup a redis client. Here's how my cloud configuration looks like:

![image](https://user-images.githubusercontent.com/36355685/156146785-8397708d-5329-492f-9bca-fe4794cd771a.png)

I am using the SAML password to make the connection as shown below:
![image](https://user-images.githubusercontent.com/36355685/156146879-f5ed5455-0a09-49dc-bd06-d77146e11552.png)

I am using the followi

[2022-03-07 06:14] angelorobo opened #300 "Read from lowest latency using AWS Elasticache Global datastore?"
How do we set up Read from any node of the cluster with the lowest latency when using AWS Elastic cache Global datastore? https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Redis-Global-Datastore.html

![image](https://user-images.githubusercontent.com/51975997/156978154-61049e63-1402-4109-8759-463ffe49685c.png)

[2022-05-11 21:25] noahlz commented on #229
I just bumped into this issue because I was sending a list of items to redis in batches with `list.grouped(500)`... but forgot that grouped returns an Iterator that is "lazy" and doesn't comprehend the list until you call `.toList`.  I was doing that outside the `withClient` block and therefore this error occurred. Very subtle!

[2022-08-25 12:17] lenin122 commented on #271
WE have similar issue on ElasstiCache with client 3.42. But don't know how to reproduce it: it comes suddenly and no certain steps can be provided to reproduce it.

[2022-09-30 01:51] satorg opened #301 "Protocol errors while talking to Redis in Amazon ElasticCache"
### Description

Intermittent issue.
Failing method: `RedisClient#set`
Example call:
[code]
Example errors:
[code]
OR
[code]

### Expected behavior

No exceptions should be raised for valid input values.

### Server version
[code]

### Library version

**net.debasishg:redisclient_2.13:3.42**